<!DOCTYPE html>
<html lang="en" ng-app="OrchidApp">
<head>
	<base href="/">
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105862947-1"></script>
	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-105862947-1');
	</script>

	<!-- Hotjar Tracking Code for www.orchideats.com -->
	<script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:789246,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script>

	<!--External Styles-->
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<link rel="stylesheet" href="assets/bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">
	<link rel="stylesheet" href="assets/bower_components/angular-loading-bar/build/loading-bar.min.css">
	<link rel="stylesheet" href="assets/bower_components/angularjs-datepicker/dist/angular-datepicker.min.css">

	<!--Internal Styles-->
	<link rel="stylesheet" type="text/css" href="./assets/stylesheets/mainpage.css" />
	<link rel="icon" href="https://s3-us-west-1.amazonaws.com/orchideats.com/favicon.ico" type="image/x-icon" />

	<title>Orchid Eats - Meals from locals</title>
</head>
<body ng-controller="AuthController" ng-cloak>

<!--nav bar-->
<nav id="myNavbar" class="navbar navbar-fixed-top" role="navigation">
    <div>
		<div class="navbar-header">
            <div class="navbar-nav shopping-cart visible-xs">
                <a ng-if="auth.data.is_chef == 0" ui-sref="checkout"><i class="fas fa-shopping-cart fa-lg"></i></a>
            </div>

			<div>
				<a class="navbar-brand" ui-sref="landing">Orchid Eats <small style="font-size: .5em;">beta</small></a>
			</div>

			<!--Toggle button for small screens-->
			<button type="button" class="navbar-toggle"
					ng-click="navCollapsed = !navCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" uib-collapse="navCollapsed" ng-class="navCollapsed ? 'collapse' : 'in'">

			<ul class="nav navbar-nav visible-xs" ng-if="!auth">
				<li ui-sref-active="actived"><a href ui-sref="login" ng-click="navCollapsed = !navCollapsed">Log in</a></li>
				<li ui-sref-active="actived"><a href ui-sref="signup" ng-click="navCollapsed = !navCollapsed">Sign up</a></li>
			</ul>

            <hr color="grey" class="visible-xs" ng-if="auth">

            <ul class="nav navbar-nav visible-xs" ng-if="auth">
				<li><a ng-if="auth.data.is_chef === 0" ui-sref="upcoming-orders({id: auth.data.id})" ng-click="navCollapsed = !navCollapsed">Dashboard</a></li>
				<li><a ng-if="auth.data.is_chef === 1" ui-sref="chef-dashboard" ng-click="navCollapsed = !navCollapsed">Dashboard</a></li>
				<li><a ng-click="navCollapsed = !navCollapsed; logout()" ui-sref="landing">Logout</a></li>
			</ul>

			<hr color="grey" class="visible-xs">

			<ul class="nav navbar-nav">
				<li ui-sref-active="actived"><a href ui-sref="marketplace" ng-click="navCollapsed = !navCollapsed">Marketplace</a></li>
				<li ui-sref-active="actived" class="hidden-sm"><a href ui-sref="about" ng-click="navCollapsed = !navCollapsed">About</a></li>
				<li class="hidden-sm" ui-sref-active="actived"><a href ui-sref="safety" ng-click="navCollapsed = !navCollapsed">Safety</a></li>
				<li ui-sref-active="actived" ng-if="auth.data.is_chef != 1"><a href ui-sref="cooking-info" ng-click="navCollapsed = !navCollapsed">Cook With Us</a></li>
			</ul>

			<ul class="nav navbar-nav pull-right hidden-xs" ng-if="!auth">
				<li ui-sref-active="actived"><a href ui-sref="login">Log in</a></li>
				<li ui-sref-active="actived"><a ui-sref="signup" href>Sign up</a></li>
			</ul>

			<ul class="nav navbar-nav pull-right hidden-xs" ng-if="auth">
                <li><a ng-if="auth.data.is_chef != 1" ui-sref="upcoming-orders({id: auth.data.id})">Dashboard</a></li>
                <li><a ng-if="auth.data.is_chef == 1" ui-sref="chef-dashboard">Dashboard</a></li>
                <li><a ng-click="logout()" ui-sref="landing">Logout</a></li>
				<li ng-if="auth.data.is_chef == 0"><a ui-sref="checkout"><i class="fas fa-shopping-cart fa-lg"></i></a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="content" ui-view></div>

<!--footer html-->
<footer ng-show="showFlag">
	<div class="container">
		<div id="footer-a">
			<div class="row footer-a text-center">
				<hr style="text-align:center; margin:1.618em auto; width:100%; background-color: black; height: 2px;">
				<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<h5>Who We Are</h5>
							<a ui-sref="about">
								<p class="footer-a-link">About</p>
							</a>
							<a ui-sref="terms">
								<p class="footer-a-link">Terms of Use</p>
							</a>
							<a ui-sref="privacy">
								<p class="footer-a-link">Privacy Policy</p>
							</a>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<h5>What to Know</h5>
							<a ui-sref="safety">
								<p class="footer-a-link">Safety</p>
							</a>
							<!--<a ui-sref="learn-more">-->
								<!--<p class="footer-a-link">How It Works</p>-->
							<!--</a>-->
							<a ui-sref="cooking-info">
								<p class="footer-a-link">Cooking</p>
							</a>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<h5>Contact Us</h5>
							<a href="mailto:hello@orchideats.com">
                                <p class="footer-a-link"><i class="far fa-envelope"></i> hello@orchideats.com</p>
							</a>
					</div>
				</div>
			</div>
		</div>

		<hr style="text-align:center; margin: 0 auto 1.618em; width:90%; background-color: slategrey;">

		<div id="footer-b">
			<div class="row footer-b text-center">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h4>Follow Us!</h4>
				</div>
			</div>
			<div class="row footer-b text-center">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<a href="https://www.facebook.com/pg/orchideatsla/" class="footer-appicon"><i class="fab fa-facebook-square fa-4x"></i></a>
					<a href="https://www.instagram.com/orchid_eats/" class="footer-appicon"><i class="fab fa-instagram fa-4x"></i></a>
					<a href="https://twitter.com/orchid_eats" class="footer-appicon"><i class="fab fa-twitter-square fa-4x"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>


<!--Scripts-->
<script src="assets/bower_components/jquery/dist/jquery.min.js"></script>
<!--<script src="assets/bower_components/angular/angular.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.8/angular.js"></script>

<!--<script src="assets/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>

<!--<script src="assets/bower_components/ngstorage/ngStorage.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>

<!--<script src="assets/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>

<script src="assets/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>

<script src="assets/bower_components/jpkleemans-angular-validate/dist/angular-validate.min.js"></script>

<!--<script src="assets/bower_components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-datepicker/2.1.23/angular-datepicker.min.js"></script>


<!--<script src="assets/bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-notification/0.3.6/angular-ui-notification.min.js"></script>

<!--<script src="assets/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js"></script>

<script src="assets/bower_components/angular-ui-router/release/stateEvents.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.8/angular-cookies.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.8/angular-animate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.8/angular-messages.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.8/angular-touch.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.8/angular-resource.js"></script>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.48.min.js"></script>

<!--Stripe Integration-->
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/authService.js"></script>
<script src="assets/js/serverValidationErrorService.js"></script>
<script src="assets/js/imageDirective.js"></script>
<script src="assets/js/authController.js"></script>
<script src="assets/js/profileController.js"></script>
<script src="assets/js/marketController.js"></script>
<script src="assets/js/listingController.js"></script>
<script src="assets/js/faqController.js"></script>
<script src="assets/js/adminController.js"></script>
<script src="assets/js/editProfileController.js"></script>
<script src="assets/js/accountNotificationsController.js"></script>
<script src="assets/js/reviewsController.js"></script>
<script src="assets/js/checkoutController.js"></script>
<script src="assets/js/menuController.js"></script>
<script src="assets/js/dashboardController.js"></script>
<script src="assets/js/ordersController.js"></script>
<script src="assets/js/profileImageController.js"></script>
<script src="assets/js/mealController.js"></script>
</body>
</html>