<div class="container">
    <div class="center-form panel">
        <div class="panel-body">
            <h4 class="text-center section-header"><i class="ion-log-in"></i> Forgot password</h4>

            <form name="loginForm" ng-submit="forgotPassword()" novalidate>
                <div class="form-group has-feedback">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" ng-model="data.email" id="email" placeholder="Enter email">
                </div>

                <button type="submit" class="btn btn-block btn-success">Reset</button>

                <br/>

                <p class="text-center text-muted">
                    <small>Back to login <a ui-sref="login">Log in</a></small>
                </p>
            </form>
        </div>
    </div>
</div>
