@charset "utf-8";

body {
  background-color: #fff;
  padding-top: 90px;
    padding-bottom: 50px;
  overflow-x: hidden;
  font-size: 14px;
}

/*Come back to the nav bar css. I want to make it so the hover background is transparent
and the apply to cook button moves to the top rigth once the screen size shrinks.*/

/*main nav bar*/
nav {
  background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: rgba(0, 0, 0, 0.45) 0 1px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0 1px 4px;
    font-family: "Muli", sans-serif;
  font-size: 1em;
  color: #333;
  vertical-align: middle;
  margin-bottom: 50px;
}

nav .navbar-brand {
  /*font-family: "Quicksand", sans-serif;*/
  color: #0984e3;
  font-weight: 900;
  font-size: 1.518em;
  vertical-align: middle;
  margin-left: 8vmin;
}

nav .navbar-brand:hover {
    background: linear-gradient(orangered, #FF4500, #EE4000, #FF003A);
    color: #fff;
    font-weight: 900;
}

nav .navbar-nav.pull-right {
  margin-right: 8vmin;
  font-size: 1.0em;
}

nav a {
  color: #2d3436;
}

nav li:hover a:hover {
  /*background: linear-gradient(orangered, #FF4500, #EE4000, #FF003A);*/
  /*color: #fff;*/
    /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);*/
    /*-moz-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 6px;*/
    /*-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 6px;*/
    color: #333;
    font-weight: 700;
    background-color: white;

}


.icon-bar {
  background-color: #333 !important;
}

button.navbar-toggle {
  margin-right: 8vmin;
}


nav#mini-navbar {
  background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;
    font-family: "Muli", sans-serif;
  font-size: 1em;
  color: #333 !important;
  margin:2%
}

nav#mini-navbar .navbar-toggle {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;}

nav#mini-navbar a {
  color: #333;
}
nav#mini-navbar a:hover {
  /*color: #fff;*/
    /*background: linear-gradient(orangered, #FF4500, #EE4000, #FF003A);*/
    /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);*/
    /*-moz-box-shadow: rgba(0, 0, 0, 0.35) 0 3px 6px;*/
    /*-webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 3px 6px;*/
    color: #333;
    font-weight: 700;
    background-color: white;
}

a:hover {
  text-decoration: none;
    color: orangered;
    cursor: pointer;
}

.navbar .divider-vertical {
  height: 40px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #c2c2c2;
    position: relative;
    transform: translateY(5px);
}

.market-nav {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;
    padding: 10px 20px;
    margin: 2vw 5vw;
}

.market-nav a {
    padding: 0 3vmin;
    margin: 0 3vmin
}

.market-nav .dropdown-option:hover {
    background: linear-gradient(orangered, #FF4500, #EE4000, #FF003A);
    color: white;
}

.market-nav a:hover {
    background: linear-gradient(orangered, #FF4500, #EE4000, #FF003A);
    padding: 15px;
    color: white;
}

.market-nav .dropdown-option a:hover {
    background: linear-gradient(orangered, #FF4500, #EE4000, #FF003A);
    color: white;
    padding: 10px;
}

.market-nav .dietCheckbox {
    margin: 2vh;
}
/*end nav bar css*/

/*footer css*/
.footer-a {
    height: 120px;
    margin-top: 8vmax;
    color: #333;
    font-size: 1em;
    margin-bottom: 5vh;
}

footer a {
    color: #444
}

.footer-b {
    height: 40px;
    color: #333;
}

.footer-appicon {
    padding: 16px 16px;
}

/*main settings*/
.content {
  font-family: "Muli", sans-serif;
  color: #2d3436;
}
/*container class to create margins on everything*/
.container {
  width: 80%;
  margin: auto;
  overflow: visible;
}

/*removes the horizontal scroll caused by container class*/
.row {
  margin-right: -15px;
  margin-left: -15px;
}

/*static pages css begin*/

#main-section .jumbotron {
  height: auto;
    width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100vw;
  margin-bottom: 3vmin;
  top: -70px;
  position: relative;
}

.about-jumbotron {
  background-image:url('https://s3-us-west-1.amazonaws.com/orchideats.com/about-page.jpg');
    background-color: black;
    opacity: .8;

}

.cooking-jumbotron {
  background-image:url('https://s3-us-west-1.amazonaws.com/orchideats.com/kitchen.png');
}

.landing-jumbotron {
  background-image: url('https://s3-us-west-1.amazonaws.com/orchideats.com/landingpage.png');
}

.jumbotron-safety {
  background-image:url('https://s3-us-west-1.amazonaws.com/orchideats.com/trust.png');
}

#main-section .main-h2 {
  color: #ffffff !important;
  font-size: 3.618em;
    font-weight: 900;
  /*letter-spacing: 1px;*/
  /*text-align: top;*/
  margin-top: 10vw;
}

#main-section .main-h4 {
  color: #fff !important;
  font-size: 1.618em;
    font-weight: 600;
  letter-spacing: 1px;
  vertical-align: top;
}

.section-title {
  font-size: 2.618em;
  font-weight: bold;
}

hr.section-line {
  /*display: block;*/
  height: 3px;
  background-color: orangered;
  color: orangered;
  margin: 1em 0 2.618em 2vmax;
  padding: 0;
  width: 150px;
}

.icon {
  width: 20vmin;
  margin-top: 4vh;
  margin-bottom: 3vh;
}

.section-2-block {
  padding-bottom: 15px;
  font-size: 1em;
  margin: 5vh 0 5vh 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 8px 30px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 8px 30px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 30px 0;
}

.section-desc {
  color: #333 !important;
  font-size: 1.618em;
  margin-bottom:  5vmax;
}

.section-3-text {
  color: #333;
  font-size: 1em;
  padding-bottom: 5vh;
  letter-spacing: 1px;
  line-height: 1.3em;
    margin-left: 2vmax;
}

.section-head-override {
  color: #333 !important;
  font-size: 2.618em;
}

.section-text {
  color: #333;
  font-size: 1em;
  padding-bottom: 5vh;
  letter-spacing: 1px;
}

#section-4.faqs {
  /*padding: 1%;*/
  border: 1px #ddd;
    border-radius: 2px;
    margin: 5vmax;
  background-color: #fefefe;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 10px;
}

.section-4-head {
  font-size: 2.618em;
    font-weight: 800;
  /*font-family: "Quicksand", sans-serif;*/
}

.section-4-text {
  font-size: 1.618em;
  padding-bottom: 5vh;
  letter-spacing: 1px;
}

.section-5-img {
  margin-bottom: 1.618em;
}

.img-circle.hiw {
    width: 80%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 15px;
}

.hiw-title {
    font-weight: 700;
}

.hiw-text {
    opacity: .8;
}

.desc-thumbnail {
    width: 70%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    opacity: 0.7;
}

/*static pages css end*/

/*login/signup/password forms*/
.authentication {
    max-width: 500px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 25px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 25px;
}

/*images*/
img .thumbnail {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
}

.thumbnail img {
  width: 100%;
}

.img-carousel {
  margin-bottom: 3vmax;
    background-color: white;
}

.thumbnail.menu-listing {
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 5px 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 15px;
    border: none;
     border-radius: 0;
}

.listing-carousel {
    max-height: 275px;
    margin: 0 auto;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 5px 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 15px;
}

/*removes default carousel designs*/
.carousel-control.left, .carousel-control.right {
     background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%) !important;
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%) !important;
     background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,.0001))) !important;
     background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
     background-repeat: repeat-x;
}
/*caruosel arrow desgins*/
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 0 3px 14px rgba(0,0,0,.7);
    /* background-color: rgba(0,0,0,0); */
    filter: alpha(opacity=80);
    opacity: .8;
}

.carousel-control:hover {
    color: white;
    text-shadow: 0 3px 18px rgba(0,0,0,.9);
}

.profile-image {
    display: inline;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*object-fit: cover;*/
    overflow: hidden;
    margin: 0 15px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 6px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 6px 8px;
}

.listing-face-image {
  display: inline;
  width: 75px;
  height: 75px;
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*object-fit: cover;*/
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
}

img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}
/*end images css*/

/*marketplace listing*/
#listing {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0 4px 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 4px 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 4px 15px;
    margin-bottom: 15px;
    border-radius: 1px;
}

.listing-food-image {
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
    min-height: 250px;
    max-height: 325px;
    width: auto;
    max-width: 325px;
    object-fit: cover;
}
/*end marketplace listing*/

.page-header {
  /*font-family: "Quicksand", sans-serif;*/
  color: #333;
  font-weight: 800;
    font-size: 1.618em;
}

.section-content {
  border-bottom: 1px solid lightgray;
  margin: 0 1vmax 4vmax 1vmax;
  font-size: 1em;
}

.section-header {
  font-weight: 900;
  color: #333;
    font-size: 1.818em;
  padding-top: 1em;
}

.big-header {
  font-weight: 900;
  color: #333;
  font-size: 2.318em;
  padding-top: 1em;
}

/*form css*/
.section-form-group {
  font-weight: bold;
  margin: 1vmax;
}

.form-margin {
  /*margin: 1vmax 0;*/
}

.form-control, .panel.panel-default {
    border-radius: 1px;
}

/*fix for textarea focus shift*/
input:focus, textarea:focus {
    border:3px solid #6b991c;
    /*padding:2px;*/
    margin: 0;
}
/*end form css*/

/*user bio margins*/
.user-bio {
    padding: 8vmax 0 5vmax 0;
}

.listing-name {
    font-size: 1.3em;
}

/*for reviews*/
.user-name {
    padding-left: 3vmin;
    padding-top: 1vmin;
}

.date {
  color: dodgerblue;
    font-weight: 700;
    padding-right: 15px;
}

.order {
    font-weight: 700;
    padding-right: 15px;
}

/*confirm order is complete css*/
.confirm-complete {
    color: white;
    background-color: #00CFFF;
    font-weight: 700;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 0 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 10px;
}

.confirm-complete a {
    color: white;
}

.confirm-complete:hover {
    background-color: #00A6CC;
}

.confirm-form {
    width: 50vw;
    margin: auto;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 15px;
    padding: 0 20px 20px;
    margin-bottom: 50px;
}

/*end*/
/*reviews stars css*/
.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

.star-filled {
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
    color: #333;
 }
/*end review stars css*/

/*button css*/
.btn.btn-default.call-to-action-btn {
    background: linear-gradient(orangered, #FF4500, #EE4000, #FF003A);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    min-width: 155px;
    color: #fff;
    border: none;
    padding-left: 1.318em;
    padding-right: 1.318em;
    /*font-family: "Quicksand", "Open Sans", sans-serif;*/
    margin: 3vmax 0 3vmax;
    font-size: 1em;
    /*-moz-box-shadow: rgba(0, 0, 0, 0.35) 0 0 10px;*/
    /*-webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 0 10px;*/
    /*box-shadow: rgba(0, 0, 0, 0.35) 0 0 10px;*/
    opacity: .9;
}

.btn.btn-default.call-to-action-btn.landing {
    opacity: 1;
}

.save-info-btn {
    background: linear-gradient(#00CFFF, #00A6CC);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: none;
    color: #fff;
    font-size: 1em;
    padding-left: 1.318em;
    padding-right: 1.318em;
    /*font-family: "Quicksand", "Open Sans", sans-serif;*/
    margin: 1.618em 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 0 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 10px;
    min-width: 150px;
    opacity: .8;
}

.cancel-btn {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #333;
    background: white;
    color: #333;
    font-size: 1em;
    font-weight: 600;
    padding-left: 1.30em;
    padding-right: 1.30em;
    margin: 1.618em 4px;
}

.cancel-btn:hover {
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 2px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 2px 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 2px 8px;
    background-color: white;
}
/*order buttons*/
.quantity-btn {
    border: none;
    background: transparent;
}

.quantity-btn[disabled] {
    cursor: not-allowed;
}

.quantity-input {
    width: 50px;
}

.save-info-btn:hover {
    background: #00CFFF;
    color: white;
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 0 20px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 0 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 20px;
}

.btn.btn-default.call-to-action-btn:hover {
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 0 20px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 0 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 20px;
    background: orangered;
}

.btn:active {
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 0 12px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 0 12px 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 12px 3px;
}
button.btn.btn-default[disabled]:hover {
    background-color: #636b6f;
}
/*end button css*/

/*Admin Table settings*/
th, td {
    padding: 1vmin;
}

/*checkout page css*/
.checkout-title{
    font-size: 1.618em;
    padding: 5px 10px 0;
    font-weight: 900;
    /*font-family: "Quicksand", sans-serif;*/
}
.checkout-div {
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 4px 18px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 4px 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 4px 18px;
    margin: 10px 40px 40px 0;
    max-width: 400px;
    border-radius: 2px;
    background-color: white;
}

.checkout-summary-div {
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 4px 18px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 4px 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 4px 18px;
    /*margin: auto;*/
    width: 90vw;
    max-width: 1000px;
    background-color: white;
    /*float: none;*/
}

.checkout-summary-item {
  /*border-bottom: 1px solid darkgray;*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 2vmax;
}

.checkout-summary-item .item-name p {
  margin: 0;
  padding: 0 0 0 3px;
}

.checkout-summary-item.details.customer p {
    padding-bottom: 3px;
}

.checkout-summary-item.details.customer.instructions {
    padding-top: 10px;
}

.checkout-summary-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2vmax;
  /*border-top: 1px solid #e6e6e6;*/
    /*border-bottom-color: linear-gradient(white, darkgrey, darkgrey, white);*/

    /*border-bottom: none;*/

}

.form-control.checkout {
    margin: 2vmin 0;
    max-width: 200px;
}
/*end checkout page*/

/*chef settings alert*/
.settings-update {
    font-weight: 600;
}

.settings-show {
    padding: 0 50px;
}

.settings-show .text-left {
    padding-bottom: 30px;
}

.chef-settings-div {
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 4px 24px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 4px 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 4px 24px;
    max-width: 1000px;
    background-color: white;
    margin: 30px auto 50px;
    padding: 10px;
}

/*add new email form*/
.email-form {
    width: 80vw;
    margin: auto;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 15px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.email-form.send {
    padding: 0 20px 20px 20px;
}

.email-form form {
    padding: 0 20px 20px 20px;
}


table.emails th, td {
    padding-right: 3vmax;
    padding-bottom: 1vmin;
}

/*order-deadline*/
.order-deadline {
    /*background-color: #ff5252;*/
    background-color: #00b894;
    color: white;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 10px;
    text-align: center;
    margin: 10px auto;
    width: 75%;
    padding: 10px 20px;
    display: block;
}
/*end order deadline alert*/

/*review*/
.no-review {
    background-color: #00CFFF;
    color: white;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 10px;
    text-align: center;
    margin: 10px auto;
    width: 60%;
    padding: 5px 20px;
    display: block;
}

.no-review:hover {
    color: #fff;
    background-color: #00A6CC;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 18px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 18px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 18px;
}

/*stripe Connect*/
.stripe-connect-title {
    font-weight: 700;
}

.stripe-connect-text {
    opacity: .8;
}

.stripe-connect {
    margin-bottom: 3vh;
}

.stripe-connect img {
    opacity: .9;
    background-color: transparent;
    width: 250px;
    height: auto;
}
.stripe-connect img.stripe {
    width: 150px;
}

.stripe-connect img:hover {
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 25px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 25px;
    opacity: 1;
}

/*makes active links standout. Avoids issue with bootstrap defualts where the active class is heavily used so I used actived*/
/*$state.inludes adds the class to li elements*/
.actived {
    font-weight: 700 !important;
    border-bottom: #888 3px solid;
    background-color: white;
    /*opacity: .7;*/
}

/*removes border on bootstrap open tabs*/
.open {
    border-bottom: none;
}

/*text that shows when there is no data to display. this si the design*/
.no-show {
    display: block;
    font-size: 1.218em;
    color: darkgrey;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    padding-top: 4vh;
}

/*hides page from showing for a few seconds*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-    ng-cloak {
    display: none !important;
}

/*Css for IOS slider switch on signup page*/
/* The switch - the box around the slider */
input.slider[type="checkbox"] {
    display: none;
}

input.slider[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    width: 125px;
    height: 30px;
    background-color: #63ff8c;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin: 4px 1px;
}

input.slider[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 2px;
    right: 2px;
    transition: all 0.3s ease-out;
}

input.slider[type="checkbox"] + label::after {
    content: attr(data-permit);
    color: white;
    position: absolute;
    top: 4px;
    left: 36px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-out;
}

/*for sign up page slider*/
input.slider[type="checkbox"] + label::after {
    left: 16px;
}
input.slider[type="checkbox"]:checked + label {
    background-color: #FE1349;
}

input.slider[type="checkbox"]:checked + label::before {
    right: 97px;
}

input.slider[type="checkbox"]:checked + label::after {
    content: attr(data-deny);
    left: 36px;
}
/*for signup page*/
input.slider.signup[type="checkbox"]:checked + label::after {
    left: 46px;
}

input[type="checkbox"] + label.checkout.ios-checkbox::after {
    left: 26px;
}

input[type="checkbox"]:checked + label.checkout.ios-checkbox::after {
    left: 44px;
}

/*makes tables responive in mobile nd adds horizontal scroll*/
.container-table table {
    overflow-x:auto;
    width: 100%;
}

.checkout-summary-item.delivery {
    padding: 5px 0;
}

@media screen and (min-width: 1800px) {
    .nav-div {
        width: 1600px;
        margin: auto;
        font-size: 1.1em;
    }

    nav .navbar-brand {
        font-size: 1.318em;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1300px;
        font-size: 1.1em;
    }

    .market-nav {
        margin: 30px 0 70px 0;
    }

    .main-h2 {
        margin-top: 130px
    }
}


@media all and (min-width: 960px) {
    body {
        font-size: 14px;
    }

    #main-section .jumbotron {
        min-height: 425px;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
  body{
    font-size: 14px;
  }
    .container {
        width: 90%;
        margin: auto;
        overflow: visible;
    }

    .listing-face-image {
        display: inline;
        width: 75px;
        height: 75px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /*object-fit: cover;*/
        border-radius: 50%;
        overflow: hidden;
        margin-left: 10px;
    }

    #main-section .jumbotron {
        height: auto;
        min-height: 300px;
        width: 100vw;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
        background-size: 115vw;
        margin-bottom: 3vmin;
        top: -70px;
        position: relative;
    }

    #main-section .main-h2 {
        color: #ffffff !important;
        font-size: 3.318em;
        margin-top: 10vw;
    }

    #main-section .main-h4 {
        color: #fff !important;
        font-size: 1.618em;
        letter-spacing: 1px;
        vertical-align: top;
    }


    .listing-food-image {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
        min-height: 34vw;
        max-height: 34vw;
        width: auto;
        object-fit: cover;
    }

    .thumbnail.menu-listing {
        min-height: 45vw;
    }

}

@media all and (max-width: 599px) and (min-width: 320px) {
    body {
        font-size: 12px;
    }
    .container {
        width: 95%;
        margin: 0 auto;
        overflow: visible;
    }

    .listing-face-image {
        display: inline;
        width: 75px;
        height: 75px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /*object-fit: cover;*/
        border-radius: 50%;
        overflow: hidden;
        margin-left: 10px;
    }


    .listing-food-image {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
        min-height: 75vw;
        max-height: 76vw;
        width: auto;
        object-fit: cover;
    }

    #main-section .jumbotron {
        height: auto;
        width: 100vw;
        min-height: 275px;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
        background-size: 200vw;
        /*margin-bottom: 1vmin;*/
        top: -70px;
        position: relative;
    }

    .profile-image {
        display: inline;
        width: 250px;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 6px 8px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 6px 8px;
    }

    #main-section .main-h2 {
        color: #ffffff !important;
        font-size: 2.418em;
        letter-spacing: 1px;
        /*text-align: top;*/
        margin-top: 8vw;
    }

    #main-section .main-h4 {
        color: #fff !important;
        font-size: 1.318em;
        letter-spacing: 1px;
        vertical-align: top;
    }

    #section {
        padding-top: -20px;
    }

    .section-title {
        font-size: 2.318em
    }

    .footer-appicon {
        padding: 10px 10px;
    }

    .authentication {
        margin: 30px auto;
        float: none;
        width: 90vw;
    }


    /*order-deadline*/
    .order-deadline {
        background-color: orangered;
        color: white;
        -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 10px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0 4px 10px;
        text-align: center;
        margin: 10px auto;
        width: 90%;
        padding: 5px 10px;
        display: block;
    }
    /*end order deadline alert*/

    .checkout-div {
      margin: 30px auto;
        float: none;
        width: 90vw;
    }

    .form-control.checkout {
        margin: 2vh 0;
    }

    .quantity-input {
        width: 25px;
    }

}

@media all and (max-width: 767px) and (min-width: 600px) {
    .thumbnail img {
        width: 325px;
        margin: auto;
    }

    div .caption {
        width: 325px;
        margin: auto;
    }

    .thumbnail.menu-listing {
         width: 60%;
        margin: auto;
        margin-bottom: 25px;
        border-radius: 0;
    }

    #listing {
        width: 60%;
        margin: auto;
        margin-bottom: 25px;
        border-radius: 0;
    }

}

/*for nav bar*/
@media all and (max-width: 767px) and (min-width: 320px) {
    .navbar .navbar-header .navbar-brand {
        /*font-family: "Quicksand", sans-serif;*/
        color: #1870E8;
        font-weight: 900;
        font-size: 1.318em;
        text-align: center;
        text-align: -moz-center;
        text-align: -webkit-center;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        padding-left: -100px;
        padding-right: -100px
    }

    .navbar-nav.shopping-cart.visible-xs {
        /*width: 100%;*/
        margin: 0 0 0 8vmin;
        position: absolute;
        text-align: left;
        text-align: -moz-left;
        text-align: -webkit-left;
        padding: 18px 80px 18px 10px;
        z-index: 3;
    }

    nav .navbar-brand:hover {
        background: transparent;

    }

    .open {
        margin-bottom: 20px;
    }

    .checkout-summary-div {
        margin: auto;
        width: 90vw;
        float: none;
    }
}


/*background grey color: #f7f9fa*/
