@charset "utf-8";

body {
  background-color: #fff;
  padding-top: 90px;
  padding-bottom: 50px;
  overflow-x: hidden;
  font-size: 14px;
}

/*Come back to the nav bar css. I want to make it so the hover background is transparent
and the apply to cook button moves to the top rigth once the screen size shrinks.*/

/*main nav bar*/
nav {
  background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 6px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 6px;
    font-family: "Muli", sans-serif;
  font-size: 1em;
  color: #333;
  vertical-align: middle;
  margin-bottom: 50px;
}

nav .navbar-brand {
  font-family: "Quicksand", sans-serif;
  color: #1870E8;
  font-weight: 900;
  font-size: 1.318em;
  vertical-align: middle;
  margin-left: 8vmin;
}

nav .navbar-brand:hover {
    background-color: orangered;
    color: #fff;
}

nav .navbar-nav.pull-right {
  margin-right: 8vmin;
  font-size: 1.0em;
}

nav a {
  color: #333;
}

nav li:hover a:hover {
  background-color: orangered;
  color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 6px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 6px;}

.icon-bar {
  background-color: #333 !important;
}

button.navbar-toggle {
  margin-right: 8vmin;
}


nav#mini-navbar {
  background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;
    font-family: "Muli", sans-serif;
  font-size: 1em;
  color: #333 !important;
  margin:2%
}

nav#mini-navbar .navbar-toggle {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;}
nav#mini-navbar a {
  color: #333;
}
nav#mini-navbar a:hover {
  color: #fff;
    background-color: orangered;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 3px 6px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 3px 6px;}

a:hover {
  text-decoration: none;
    color: orangered;
    cursor: pointer;
}

.navbar .divider-vertical {
  height: 50px;
  margin: 0 3px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #c2c2c2;
}

.market-nav {
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;
    padding: 10px 20px;
    margin: 5vw;
}

.market-nav a:hover {
    /*background-color: orangered;*/
    color: orangered;
}

.market-nav #diet-dropdown {
    color: #333;
    font-size: 1.318rem;
}

.market-nav .dietCheckbox {
    margin: 2vh;
}
/*end nav bar css*/

/*footer css*/
.footer-a {
    height: 120px;
    margin-top: 8vmax;
    color: #333;
    font-size: 1em;
    margin-bottom: 5vh;
}

.footer-b {
    height: 40px;
    color: #333;
}

.footer-appicon {
    padding: 16px 16px;
}

/*main settings*/
.content {
  font-family: "Muli", sans-serif;
  color: #222222;
}
/*container class to create margins on everything*/
.container {
  width: 80%;
  margin: auto;
  overflow: visible;
}

/*removes the horizontal scroll caused by container class*/
.row {
  margin-right: -15px;
  margin-left: -15px;
}

/*static pages css begin*/

#main-section .jumbotron {
  height: auto;
    width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100vw;
  margin-bottom: 3vmin;
  top: -70px;
  position: relative;
}

.about-jumbotron {
  background-image:url(../images/safety.png);
}

.cooking-jumbotron {
  background-image:url(../images/kitchen.png);
}

.landing-jumbotron {
  background-image: url(../images/landingpage.png);
}

.jumbotron-safety {
  background-image:url(../images/trust.png)
}

.main-h2 {
  color: #ffffff !important;
  font-size: 4.236em;
  /*letter-spacing: 1px;*/
  /*text-align: top;*/
  margin-top: 10vw;
}

.main-h4 {
  color: #fff !important;
  font-size: 1.618em;
  letter-spacing: 1px;
  vertical-align: top;
}

.section-title {
  font-size: 2.618em;
  font-weight: bold;
  margin-left: 2vmax;
  margin-right: 2vmax;
}

hr.section-line {
  /*display: block;*/
  height: 3px;
  background-color: #FA772E;
  color: #FA772E;
  margin: 1em 0 2.618em 2vmax;
  padding: 0;
  width: 150px;
}

.icon {
  width: 20vmin;
  margin-top: 4vh;
  margin-bottom: 3vh;
}

.section-2-block {
  padding-bottom: 15px;
  font-size: 1em;
  border: grey solid;
  margin: 5vh 0 5vh 0;
}

.section-desc {
  color: #333 !important;
  font-size: 1.618em;
  margin-bottom:  5vmax;
}

.section-3-text {
  color: #333;
  font-size: 1em;
  padding-bottom: 5vh;
  letter-spacing: 1px;
  line-height: 1.3em;
}

.section-head-override {
  color: #333 !important;
  font-size: 2.618em;
}

.section-text {
  color: #333;
  font-size: 1em;
  padding-bottom: 5vh;
  letter-spacing: 1px;
}

#section-4.faqs {
  /*padding: 1%;*/
  border: 1px #ddd;
    margin: 5vmax;
  background-color: #fefefe;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: rgba(0, 0, 0, 0.75) 4px 4px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 4px 4px 10px;
}

.section-4-head {
  font-size: 2.618em;
  font-family: "Quicksand", sans-serif;
}

.section-4-text {
  font-size: 1.618em;
  padding-bottom: 5vh;
  letter-spacing: 1px;
}

.section-5-img {
  margin-bottom: 1.618em;
}

.img-circle.hiw {
    width: 80%;
    border: 1px solid black;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.desc-thumbnail {
    width: 70%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    opacity: 0.7;
}

/*static pages css end*/

/*login/signup/password forms*/
.authentication {
    max-width: 500px;
}

/*images*/
.thumbnail {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
}

.thumbnail img {
  width: 100%;
}

.img-carousel {
  margin-bottom: 3vmax;
}

.listing-face-image {
  display: inline;
  max-width: 75px;
  max-height: 75px;
  min-height: 75px;
  min-width: 75px;
  background-size: contain;
  border-radius: 50%;
  overflow: hidden;
  background-image: url(../images/chef.png);
  margin-left: 10px;
}

img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}
/*end images css*/

/*marketplace listing*/
#listing {
    border-color: rgba(0, 0, 0, 0.0);
    padding-bottom: 15px;
}

.listing-food-image {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
}
/*end marketplace listing*/

.page-header {
  font-family: "Quicksand", sans-serif;
  color: #222222;
  font-weight: bold;
    font-size: 1.618em;
}

.section-content {
  border-bottom: 1px solid lightgray;
  margin: 0 1vmax 3vmax 1vmax;
  font-size: 1em;
}

.section-header {
  font-weight: bold;
  color: #111;
  font-size: 1.618em;
  padding-top: 1em;
}

/*form css*/
.section-form-group {
  font-weight: bold;
  /*margin: 0 1vmax 0 1vmax;*/
}

.form-margin {
  /*margin: 1vmax 0;*/
}

/*fix for textarea focus shift*/
input:focus, textarea:focus {
    border:3px solid #6b991c;
    /*padding:2px;*/
    margin: 0;
}

/*To vertically align checkboxes on order-requirements page*/
.reqs input[type="checkbox"] {
    margin-top: 10px;
    margin-left: 10px;
}
/*end form css*/

/*user bio margins*/
.user-bio {
    padding: 8vmax 0 5vmax 0;
}

.date {
  color: #1576B9;
}

/*reviews stars css*/
.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

.star-filled {
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
    color: orange;
 }
/*end review stars css*/

/*button css*/
.cooking-action-btn {
    background: #FE5A1D;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    color: #ffffff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding-left: 1em;
    padding-right: 1em;
    -moz-box-shadow: rgba(0, 0, 0, 0.55) 0 2px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.55) 0 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.55) 0 2px 5px;
}

.btn.btn-default.call-to-action-btn {
    background: orangered;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    padding-left: 2.618em;
    padding-right: 2.618em;
    font-family: "Quicksand", "Open Sans", sans-serif;
    margin: 3vmax 0 3vmax;
    font-size: 1em;
    -moz-box-shadow: rgba(0, 0, 0, 0.55) 0 2px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.55) 0 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.55) 0 2px 5px;}

/*TODO come back to see how these buttons are looking*/
.save-info-btn {
    background: #28CC7F;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    padding-left: 2.618em;
    padding-right: 2.618em;
    /*max-width: 175px;*/
    font-family: "Quicksand", "Open Sans", sans-serif;
    margin: 1.618em 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.55) 0 2px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.55) 0 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.55) 0 2px 4px;}
/*order buttons*/
.quantity-btn {
    border: none;
}

.quantity-btn[disabled] {
    cursor: not-allowed;
}

.save-info-btn:hover {
    background: darkcyan;
}

.btn-outline {
    background: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding-left: 2.618em;
    padding-right: 2.618em;
    max-width: 170px;
    font-family: "Quicksand", "Open Sans", sans-serif;
    margin: 1.618em 0;
    border: 2px solid #0099cc;
    color: #0099cc;
}

.btn.btn-default.call-to-action-btn:hover {
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 4px;
    background-color: red;
}

.btn:active {
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 8px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 8px inset;
    box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 8px inset;
}
/*end button css*/

/*Admin Table settings*/
th, td {
    padding: 1vmin;
}

/*checkout page css*/
.checkout-summary {
  max-width: 500px;
  background-color: #fefefe;
}

.checkout-summary-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1vmax;
  border: 1px solid #e6e6e6;
}

.checkout-summary-item {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1vmax;
  border-bottom: 1px solid #e6e6e6;
}

.checkout-summary-item .item-name p {
  margin: 0;
  padding: 0 0 0 3px;
}

.checkout-summary-item .title {
  font-weight: bold;
}

.checkout-summary-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1vmax;
  border: 1px solid #e6e6e6;
  border-top: none;
}

.checkout-summary-details #customButton {
    text-align: right;
}
/*end checkout page*/

/*order deadline alert*/
.order-deadline {
    background-color: orangered;
    color: whitesmoke;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    text-align: center;
    padding: 10px 20px;
}
/*end order deadline alert*/

/*review*/
.no-review {
    background-color: orangered;
    color: whitesmoke;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;    text-align: center;
    margin: 10px auto;
    width: 60%;
    padding: 5px 20px;
    display: block;
}

.no-review:hover {
    color: #fff;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px;}

/*stripe Connect*/
.stripe-connect {
    background-color: ghostwhite;
    color: slategray;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
    text-align: center;
    margin: 10px auto;
    width: 95%;
    padding: 5px 20px;
    display: block;
}

/*.stripe-connect:hover {*/
    /*color: #fff;*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);*/
/*}*/

.stripe-connect a {
    background-color: deepskyblue;
    color: whitesmoke;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
    text-align: center;
    margin: 10px auto;
    width: 80%;
    padding: 5px 20px;
    display: block;
}

.stripe-connect a:hover {
    color: white;
}



[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-    ng-cloak {
    display: none !important;
}

/*Background: #FF7919; Main Orange color*/
/*Background: #FE5A1D; Reddish Orange color - for now*/
/*background: #008E9B; Darker light blue, hint of green*/
/*background: #E86100; Nice bright orange*/

/*background: #28CC7F;*/
/*!*Ligth green color - sage*!*/

/*background: #FF5862;*/
/*!*ligth red*!*/

/*background: #99D4F3;*/
/*!*Light blue*!*/

/*background: #8DCAEA;*/
/*!*light blue - darker than one above*!*/

/*background: #FF9030;*/
/*!*Burnt orange*!*/

/*background: #00C0FA;*/
/*!*Bright blue, light*!*/

/*background: #00DAFC;*/
/*!*Brighter blue, light*!*/

/*#ff8300*/
/*Seems to be a nice orange color*/


@media all and (min-width: 960px) {
    body {
        font-size: 14px;
    }

    #main-section .jumbotron {
        min-height: 425px;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
  body{
    font-size: 14px;
  }
    .container {
        width: 90%;
        margin: auto;
        overflow: visible;
    }

    .listing-face-image {
        display: inline;
        max-width: 50px;
        max-height: 50px;
        min-height: 50px;
        min-width: 50px;
        background-size: contain;
        border-radius: 50%;
        overflow: hidden;
        background-image: url(../images/chef.png);
        margin-left: 10px;
    }

    #main-section .jumbotron {
        height: auto;
        width: 100vw;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
        background-size: 115vw;
        margin-bottom: 3vmin;
        top: -70px;
        position: relative;
    }

    .main-h2 {
        color: #ffffff !important;
        font-size: 3.318em;
        margin-top: 10vw;
    }

    .main-h4 {
        color: #fff !important;
        font-size: 1.618em;
        letter-spacing: 1px;
        vertical-align: top;
    }

}

@media all and (max-width: 599px) and (min-width: 320px) {
    body {
        font-size: 12px;
    }
    .container {
        width: 95%;
        margin: 0 auto;
        overflow: visible;
    }

    .listing-face-image {
        display: inline;
        max-width: 50px;
        max-height: 50px;
        min-height: 50px;
        min-width: 50px;
        background-size: contain;
        border-radius: 50%;
        overflow: hidden;
        background-image: url(../images/chef.png);
        margin-left: 5px;
        margin-bottom: 5px;
    }

    #main-section .jumbotron {
        height: auto;
        width: 100vw;
        min-height: 275px;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
        background-size: 200vw;
        /*margin-bottom: 1vmin;*/
        top: -70px;
        position: relative;
    }

    .main-h2 {
        color: #ffffff !important;
        font-size: 2.618em;
        /*letter-spacing: 1px;*/
        /*text-align: top;*/
        margin-top: 10vw;
    }

    .main-h4 {
        color: #fff !important;
        font-size: 1.318em;
        letter-spacing: 1px;
        vertical-align: top;
    }

    #section {
        padding-top: -20px;
    }

    .section-title {
        font-size: 2.318em
    }

    .footer-appicon {
        padding: 10px 10px;
    }

}

/*for nav bar*/
@media all and (max-width: 767px) and (min-width: 320px) {
    .navbar .navbar-header .navbar-brand {
        font-family: "Quicksand", sans-serif;
        color: #1870E8;
        font-weight: 900;
        font-size: 1.318em;
        /*vertical-align: middle;*/
        text-align: center;
        text-align: -moz-center;
        text-align: -webkit-center;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        padding-left: -100px;
        padding-right: -100px
    }

    .navbar-nav.shopping-cart.visible-xs {
        /*width: 100%;*/
        margin: 0 0 0 8vmin;
        position: absolute;
        text-align: left;
        text-align: -moz-left;
        text-align: -webkit-left;
        padding: 18px 80px 18px 10px;
        z-index: 3;
    }

    nav .navbar-brand:hover {
        background-color: transparent;
    }
}
