<div>

    <div id="main-section">
        <!--How to add  the right size for the image due to mobile friendly?-->
        <div class="jumbotron about-jumbotron">
            <h2 class="main-h2">Hi! We're Orchid Eats.</h2>
            <h4 class="main-h4">We want to make healthy eating simple</h4>
        </div>
    </div>

    <section id="section-2" class="container">
        <div class="row text-center">
            <h2 class="section-title-override"><strong>Eat Healthy. Eat Homemade. Eat Easy.</strong></h2>
            <h5 class="section-desc">We believe that everyone should have access to high-quality, healthy food at an affordable price.</h5>
        </div>
    </section>

    <section id="section-3" class="container">
        <div class="row text-left">
            <h3 class="section-title-override"><strong>Our Values</strong></h3>
            <hr class="section-line"/>
            <h5 class="section-text">At Orchid Eats, our values give us direction. If our mission describes our desired destination, our values are the compass with which we stay on track.</h5>
        </div>
        <div class="row text-center">
            <div class="col-md-1 col-lg-8"></div>
            <div class="col-md-10 col-lg-10">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <p class="section-header">Happy and Healthy</p>
                    <p class="section-text-override">Subtext</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <p class="section-header">Build Community</p>
                    <p class="section-text-override">Subtext</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <p class="section-header">Empower Opportunity</p>
                    <p class="section-text-override">Subtext</p>
                </div>
            </div>
            <div class="col-md-1 col-lg-2"></div>
        </div>
    </section>

    <section id="section-4" class="container">
        <div class="row text-left">
            <h3 class="section-title-override"><strong>Our Team</strong></h3>
            <hr class="section-line"/>
        </div>
        <div class="row text-center">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-0 col-lg-offset-0 col-md-4 col-lg-4">
                <img class="img-circle face-thumbnail-image" src="./assets/images/henry.png" alt="us">
                <p class="section-header"><b>Henry</b></p>
                <p class="section-content-override">Product Development</p>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-0 col-lg-offset-0 col-md-4 col-lg-4">
                <img class="img-circle face-thumbnail-image" src="./assets/images/param.png" alt="us">
                <p class="section-header"><b>Param</b></p>
                <p class="section-content-override">Business and Growth</p>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
        </div>
    </section>

    <section id="section-5" class="container">
        <div class="row text-left">
            <h3 class="section-title-override"><strong>Our Story</strong></h3>
            <hr class="section-line"/>
        </div>
        <div class="row">
            <div class="col-md-1 col-lg-1">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img src="./assets/images/ourphoto.png" alt="it's us" class="img-responsive section-5-img">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-left">
                Now, this is our story all about how
                my life got flipped upside down.
            </div>
            <div class="col-md-1 col-lg-1"></div>
        </div>
    </section>

</div>
