<div>
    <section id="main-section">
        <div class="jumbotron about-jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="main-h2">Hi! We're Orchid Eats.</p>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="section-title"><strong>Our Mission</strong></p>
                <p><strong>Our mission is to empower independent chefs with the tools they need to manage and grow their business.</strong></p>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
                        <div class="hiw-number"><p>1</p></div>
                        <p class="hiw-title">Effortless</p>
                        <p class="hiw-text">Our service is designed with ease of use in mind. Not to mention, it's 100% mobile friendly.</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="hiw-number">2</div>
                        <p class="hiw-title">Dynamic</p>
                        <p class="hiw-text">Our goal is to help chefs solve their business challenges, improve operations, better serve customers, and increase their profitability.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="section-4" class="container">
        <div class="row text-center">
            <br>
            <br>
            <h3 class="section-title"><strong>Our Story</strong></h3>
            <br>
            <br>
        </div>
        <div class="row text-left">
            <div class="col-xs-4 col-xs-offset-4 col-sm-3 col-sm-offset-1 col-md-offset-2 col-lg-offset-2 col-md-2 col-lg-2">
                <img class="img-circle" src="https://s3-us-west-1.amazonaws.com/orchideats.com/param.png" alt="us">
                <h5 class="text-center">Param Singh</h5>
                <p class="section-text text-center">Founder</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-2 col-md-6 col-lg-6 section-text">
                <p>We believe in creating more inclusive opportunities in food for independent chefs. Cooking is the most fundamental lever of economic empowerment, and the food industry has taken that away through its strict barriers to entry. Chefs can showcase their work, connect with new and existing customers, and build their business.</p>
                <p>We seek to increase access to healthy food options. The current options, like expensive meal-kits and unhealthy fast food, don't solve the problem. We all love home cooked meals but just don't have the time, skills or passion for creating exciting meals. </p>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row text-center">
            <h2 class="section-title"><strong>Eat Healthy. Eat Homemade. Eat Easy.</strong></h2>
        </div>
    </section>

    <section class="cta-div">
        <div class="row text-center">
            <p class="cta-title">Share Your Cooking, Make Money</p>
            <p class="cta-text">Manage your food business, accept online orders and get more customers using OrchidEats. We'll take care of your business, while you take care of your customers.</p>
            <a ui-sref="signup">
                <button type="submit" class="btn btn-default call-to-action-btn landing">Get Started</button>
            </a>
        </div>
    </section>

</div>
