<div class="container">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div>
        <p class="page-header">Account Status</p>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
            <div ng-if="auth.data.approved != 1">
                <p>Your account is <strong>Unverified</strong></p>
                <br>
                <label>What does this mean?</label>
                <p class="text-muted">An unverified account does not show up in the Chef Directory.</p>
                <p class="text-muted">To be listed in the Chef Directory, you are required to have an up-to-date Food Handler Certificate. Please visit the <a href="https://www.servsafe.com/ServSafe-Food-Handler" target="_blank">ServSafe Website</a> for more information.<br></p>
                <p>Once you upload your certificate number on your order settings page, it will be verified by our team and your account will be approved.</p>
            </div>
            <div ng-if="auth.data.approved == 1">
                <p>Your account is <strong>Verified </strong></p>
                <br>
                <label>What does this mean?</label>
                <p class="text-muted">Your profile is listed in the Chef Directory. Users can visit your profile and see your photo gallery and customer reviews. Users can also request to be added to your email list so they will be notified when you update your menu.</p>
            </div>
            <br>

        </div>
    </div>
</div>
