<div class="container">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div>
            <p class="page-header">Change Your Password</p>
            <form ng-submit="submit(); updatePassword()" method="post" name="updatePasswordForm">
                <div class="form-group section-form-group form-inline">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                            <label for="password">Current Password</label>
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                            <input type="password" class="form-control form-margin" name="password" id="password" required ng-model="data.password">
                        </div>
                    </div>
                </div>
                <div class="form-group section-form-group form-inline">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                            <label for="new_password">New Password</label>
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                            <input name="new_password" type="password" class="form-control form-margin" id="new_password" required ng-model="data.new_password">
                        </div>
                    </div>
                </div>
                <div class="form-group section-form-group form-inline">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                            <label for="new_password_confirmation">Confirm Password</label>
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                            <input type="password" class="form-control form-margin" name="new_password_confirmation" id="new_password_confirmation"
                                   required ng-model="data.new_password_confirmation">
                        </div>
                    </div>
                </div>
                <button type="submit" ng-disabled="buttonDisabled" class="btn btn-default save-info-btn">Update Password</button>
            </form>
    </div>
</div>
