<div class="container">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div class="row">
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <h3 class="page-header">Payment Method</h3>
            <div class="row section-content">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left payment">
                    <p>VISA<br>
                        xxxx-xxxx-xxxx-1234<br>
                        06/22</p>
                    <p><a href="#">Set Default</a><br>
                        <a href="#">Remove</a></p>
                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>

                <!--Not sure how we want these done. It should ideally be a modal that allows you to edit the
                info-->

                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center payment">
                    <p><a href="#">Add Payment Method<br> <span class="glyphicon glyphicon-plus"
                                                                aria-hidden="true"></span>
                    </a></p>
                </div>
            </div>
            <div class="row">
                <p>Remember: Orchid Eats will never ask you to wire money.</p>
            </div>
        </div>
        <div class="col-md-1 col-lg-1"></div>
    </div>
</div>
