<div class="container">
    <div ng-if="vm.user != null">
        <div class="row">
            <div ui-view="miniNav"></div>
        </div>
        <div>
            <p class="page-header">Notification Settings</p>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                <p>We may need to send you messages regarding your account, your orders, security, privacy matters,
                    and customer support requests. This will also alert you of promotions and product updates.</p>
                <form class="section-form-group form-group" method="post" name="accountNotificationsForm" ng-submit="submit(); vm.update(accountNotificationsForm)" ng-validate="vm.validation">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-true-value="1"
                                   ng-false-value="0" ng-model="vm.user.email_note">
                            Email
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-true-value="1"
                                   ng-false-value="0"
                                   ng-model="vm.user.text_note">
                            Text Messages
                        </label>
                    </div>
                    <button type="submit" ng-disabled="buttonDisabled" class="btn btn-default save-info-btn">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
