<div class="container">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <p class="page-header">Admin Area</p>
    <div>
        <button class="btn btn-default save-info-btn" ng-click="vm.update()">Save</button>
            <table>
                <tr>
                    <th>Canceled</th>
                    <th>Order #</th>
                    <th>Contact Info</th>
                    <th>Addresses</th>
                    <th>Details</th>
                    <th>Order Totals</th>
                    <th>Completed?</th>
                    <th>Cancel</th>
                </tr>
                <tr ng-repeat="order in vm.order">
                    <td><input type="checkbox" ng-true-value="2"
                               ng-false-value="0"
                               ng-model="order.completed" ng-change="vm.completed(order)"></td>
                    <td> {{order.order_id}}</td>
                    <td>
                        <script type="text/ng-template">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" uib-collapse="!isOpen">
                                <div class="panel-body" style="text-align: right" ng-transclude></div>
                            </div>
                        </script>
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" heading="Info">
                                <p>User:</p>
                                    <p>{{order.user.first_name}} {{order.user.last_name}}</p>
                                    <p>{{order.user.email}}</p>
                                <p>Chef:</p>
                                    <p>{{order.chef.first_name}} {{order.chef.last_name}}</p><br>
                                    <p>{{order.chef.email}}</p><br>
                            </div>
                        </uib-accordion>
                    </td>
                    <td>
                        <script type="text/ng-template">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" uib-collapse="!isOpen">
                                <div class="panel-body" style="text-align: right" ng-transclude></div>
                            </div>
                        </script>
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" heading="P/D">
                                <p>Pickup (Chef):</p>
                                <p>{{order.chef_profile.address}}</p>
                                <p>Dropoff (User):</p>
                                <p>{{order.user_profile.address}}</p><br>
                            </div>
                        </uib-accordion>
                    </td>
                    <td>
                        <script type="text/ng-template">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" uib-collapse="!isOpen">
                                <div class="panel-body" style="text-align: right" ng-transclude></div>
                            </div>
                        </script>
                        <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" heading="Details">
                            <div ng-repeat="meal in order.meal_details">
                                <p>N:{{meal.name}}</p>
                                <p>Q:{{meal.quantity}}</p>
                                <p>P:{{meal.price}}</p><br>
                             </div>
                        </div>
                    </uib-accordion>
                </td>

                <td> $ {{order.order_total}}</td>
                <td><input type="checkbox" ng-true-value="1"
                           ng-false-value="0"
                           ng-model="order.completed" ng-change="vm.completed(order)"></td>
                <td><button type="button" class="btn btn-default btn-error" ng-click="vm.cancel(order)">Cancel</button></td>
            </tr>
        </table>
    </div>
</div>