<div class="container">
    <div ng-hide="vm.process" ng-if="vm.carts != null">

        <div class="row">
            <!--Delivery details-->
            <!--chef has pickup and delivery-->
            <div ng-if="vm.carts.chef.pickup == 1 && vm.carts.chef.delivery == 1" class="checkout-div col-xs-12 col-sm-5 col-md-5 col-lg-5 ">
                <div>
                    <div class="row">
                        <p class="checkout-title">Order Details</p>
                    </div>

                    <div class="checkout-summary-item delivery">
                        <input id="delivery" class="form-control slider" type="checkbox" ng-model="vm.order.customer_details.delivery" ng-click="price()" ng-true-value="1" ng-false-value="0">
                        <label for="delivery" class="checkout ios-checkbox" data-permit="Pickup" data-deny="Delivery"></label>
                    </div>

                    <div ng-if="vm.order.customer_details.delivery == 1">
                        <div class="text-left">
                            <label>Delivery Date</label>
                            <p>{{vm.carts.chef.delivery_date}}</p>
                        </div>
                        <div class="text-left">
                            <label>Delivery Instructions</label>
                            <p>{{vm.carts.chef.delivery_info}}</p>
                            <br>
                        </div>
                    </div>
                    <div ng-if="vm.order.customer_details.delivery == 0">
                        <div class="text-left">
                            <label>Pickup Date</label>
                            <p>{{vm.carts.chef.pickup_date}}</p>
                        </div>
                        <div class="text-left">
                            <label>Pickup Address</label>
                            <p>{{vm.carts.chef.pickup_pickup}}</p>
                        </div>
                        <div class="text-left">
                            <label>Pickup Instructions</label>
                            <p>{{vm.carts.chef.pickup_info}}</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <!--delivery only-->
            <div ng-if="vm.carts.chef.pickup == 0 && vm.carts.chef.delivery == 1" class="checkout-div col-xs-12 col-sm-5 col-md-5 col-lg-5 ">
                <div>
                    <div class="row">
                        <p class="checkout-title">Order Details</p>
                    </div>
                    <div class="text-left">
                        <label>Delivery Date</label>
                        <p>{{vm.carts.chef.delivery_date}}</p>
                    </div>
                    <div class="text-left">
                        <label>Delivery Instructions</label>
                        <p>{{vm.carts.chef.delivery_info}}</p>
                        <br>
                    </div>
                </div>
            </div>
            <!--pickup only-->
            <div ng-if="vm.carts.chef.pickup == 1 && vm.carts.chef.delivery == 0" class="checkout-div col-xs-12 col-sm-5 col-md-5 col-lg-5 ">
                <div>
                    <div class="row">
                        <p class="checkout-title">Order Details</p>
                    </div>
                    <div class="text-left">
                        <label>Pickup Date</label>
                        <p>{{vm.carts.chef.pickup_date}}</p>
                    </div>
                    <div class="text-left">
                        <label>Pickup Address</label>
                        <p>{{vm.carts.chef.pickup_pickup}}</p>
                    </div>
                    <div class="text-left">
                        <label>Pickup Instructions</label>
                        <p>{{vm.carts.chef.pickup_info}}</p>
                        <br>
                    </div>
                </div>
            </div>

            <!--customer details-->
            <div class="checkout-div col-xs-12 col-sm-5 col-md-5 col-lg-5 ">
                <div class="row">
                    <p class="checkout-title">Customer Information</p>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label>Contact <span class="text-muted small">(required)</span></label>
                        <input type="text" class="form-control checkout" ng-model="vm.carts.user.name" placeholder="Name" required>
                        <input type="text" class="form-control checkout" ng-model="vm.carts.user.email" placeholder="Email" required>
                        <input type="tel" class="form-control checkout" ng-model="vm.carts.user_profile.phone" placeholder="Phone" required>
                    </div>
                    <div ng-if="vm.order.customer_details.delivery == 1" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label>Delivery Address <span class="text-muted small">(required)</span></label>
                        <input type="text" class="form-control checkout" ng-model="vm.carts.user_profile.address" placeholder="Address" required>
                        <input type="text" class="form-control checkout" ng-model="vm.carts.user_profile.zip" placeholder="Zip code" required>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label>Instructions for the chef <small class="text-muted">(optional)</small></label>
                        <textarea type="text" class="form-control" ng-model="vm.order.customer_details.instructions"></textarea>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!--order summary-->
            <div class="checkout-summary-div col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <p class="checkout-title">Order Summary</p>
                    <div ng-repeat="meal in vm.carts.details">
                        <div class="checkout-summary-item">
                            <div class="item-name text-left">
                                <h5><strong>{{meal.name}}</strong></h5>
                                <p>Quantity: <span class="text-muted">{{meal.quantity}}</span></p>
                                <p>Price per meal: <span class="text-muted">{{meal.price | currency}}</span></p>
                                <p ng-if="meal.request != null">Request: <span class="text-muted">{{meal.request}}</span></p>
                            </div>
                            <div class=" text-right" ng-if="vm.noRemove == false">
                                <a ng-click="vm.remove($index)">Remove <span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        </div>
                        <hr style="color: lightgrey" width="80%">
                    </div>
                    <div class="checkout-summary-details">
                        <div class="text-left">
                            <p class="text-muted">Subtotal:</p>
                            <p class="text-muted">Processing Fee <span tooltip-placement="right-top" uib-tooltip="This service fee helps us operate OrchidEats."><i class="fas fa-info-circle"></i>
</span> </p>
                            <p ng-if="vm.order.customer_details.delivery == 1" class="text-muted">Delivery Fee</p>
                            <p><strong>Total</strong></p>
                        </div>
                        <div class="text-right">
                            <p ng-model="vm.subtotal">{{vm.subtotal | currency}}</p>
                            <p ng-model="vm.serviceFee">{{vm.serviceFee | currency}}</p>
                            <p ng-if="vm.order.customer_details.delivery == 1" ng-model="vm.deliveryFee">{{vm.deliveryFee | currency}}</p>
                            <p ng-model="vm.total">{{vm.total | currency}}</p>
                        </div>
                    </div>
                    <hr style="width: 90%; color: grey">
                    <div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <br>
                            <p ng-if="!vm.carts.stripe"><strong>The chef does not accept credit card payments.</strong></p>
                            <button id="customButton" ng-disabled="buttonDisabled || !vm.carts.stripe" type="submit" class="btn btn-default call-to-action-btn" ng-click="submit(); vm.open()">Pay With Card <i class="fas fa-lock"></i></button><br>
                            <span class="text-muted">Fast and Secure Checkout</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"><br> OR<br><br>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form name="offPlatformForm">
                                <label>Pay Off-Platform</label>
                                <input type="checkbox" ng-click="price()" ng-model="vm.checked" required><br>
                                <button ng-disabled="!vm.checked" type="submit" class="btn btn-default cancel-btn"
                                        ng-click="submit(); vm.offPlatform()">Pay Off-Platform </button>
                                <p>The Chef accepts payment through: {{vm.carts.chef.payment_options}}</p>
                                <p>You will be contacted by the chef to finalize payment.</p>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="!vm.process">
        <div class="fa-5x text-center">
            <i class="fas fa-spinner fa-pulse"></i>
        </div>
    </div>
</div>


