<div class="container" ng-controller="MenuController as vm">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default btn-outline"><a ui-sref="update-menu">Update Menu</a></button>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div ng-repeat="meal in vm.meals">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/500x300" alt="">
                        <div class="caption">
                            <p class="section-content-override">Meal Name: {{ meal.name}} </p>
                            <p class="section-content-override">Meal Price: $ {{ meal.price}} </p>
                            <p class="section-content-override">Meal Type: {{ meal.type}} </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--TODO come back to remove this button when you are visiting someone elses profile page. Infact, might be best to take it out all together. Maybe, auth.data.id vs url param id. Or even using the url location to hide with ng-if-->
        </div>
    </div>
</div>
