<div class="container">
    <div ng-if="vm.user != null">
        <div class="row">
            <div ui-view="miniNav"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="reqs">
                    <form method="post" name="orderReqsForm" ng-submit="submit(); vm.update(orderReqsForm)" ng-validate="vm.validation">
                        <!--chef info-->
                        <div class="row chef-settings-div">
                            <p class="checkout-title">Account Details</p>
                        <!--food handler number-->
                            <div class="col-xs-12 col-sm-10 col-md-7 col-lg-7 text-left form-margin">
                                <br>
                                <label><strong>Food Handlers Certification</strong>
                                </label>
                                <br>
                                <input type="text" class="form-control form-margin"
                                       ng-model="vm.user.food_handler">
                            </div>
                            <!--deadline-->
                                <div class="col-xs-12 col-sm-10 col-md-7 col-lg-7 text-left form-margin">
                                    <br>
                                    <p><strong>Order Deadline</strong> <i ng-if="vm.needUpdate" class="fas fa-info-circle" style="color: red;"></i></p>
                                    <p  ng-if="vm.needUpdate" class="text-muted small">One of your dates is expired. Please update settings.</p>
                                    <p class="text-muted small">Please update your order deadline weekly.</p>
                                    <datepicker date-format="MMMM dd, yyyy">
                                        <input type="text" class="form-control form-margin" name="order_deadline" ng-model="vm.user.order_deadline">
                                    </datepicker>
                                </div>
                            <!--diets-->
                                <!--<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 text-left form-margin">-->
                                    <!--<br>-->
                                    <!--<label><strong>Diets</strong></label><br>-->
                                    <!--<p class="text-muted small">What diets can you prep for? This will be displayed on your profile page.</p>-->
                                    <!--<div class="row checkout-summary-item">-->
                                        <!--<div class="item-name text-left col-xs-6 col-sm-6 col-md-6 col-lg-6">-->
                                            <!--<p>-->
                                                <!--<input type="checkbox" ng-true-value="1"-->
                                                       <!--ng-false-value="0" ng-model="vm.user.diets.keto">-->
                                                <!--<label>Keto</label>-->
                                            <!--</p>-->
                                            <!--<p>-->
                                                <!--<input type="checkbox" ng-true-value="1"-->
                                                       <!--ng-false-value="0" ng-model="vm.user.diets.paleo">-->
                                                <!--<label>Paleo</label>-->
                                            <!--</p>-->
                                            <!--<p>-->
                                                <!--<input type="checkbox" ng-true-value="1"-->
                                                       <!--ng-false-value="0" ng-model="vm.user.diets.high_fat">-->
                                                <!--<label>High Fat</label>-->
                                            <!--</p>-->
                                            <!--<p>-->
                                                <!--<input type="checkbox" ng-true-value="1"-->
                                                       <!--ng-false-value="0" ng-model="vm.user.diets.low_carb">-->
                                                <!--<label>Low Carb</label>-->
                                            <!--</p>-->
                                        <!--</div>-->
                                        <!--<div class="item-name text-left col-xs-6 col-sm-6 col-md-6 col-lg-6">-->
                                            <!--<p>-->
                                                <!--<input type="checkbox" ng-true-value="1"-->
                                                       <!--ng-false-value="0" ng-model="vm.user.diets.high_protein">-->
                                                <!--<label>High Protein</label>-->
                                            <!--</p>-->
                                            <!--<p>-->
                                                <!--<input type="checkbox" ng-true-value="1"-->
                                                       <!--ng-false-value="0" ng-model="vm.user.diets.vegan">-->
                                                <!--<label>Vegan</label>-->
                                            <!--</p>-->
                                            <!--<p>-->
                                                <!--<input type="checkbox" ng-true-value="1"-->
                                                       <!--ng-false-value="0" ng-model="vm.user.diets.vegetarian">-->
                                                <!--<label>Vegetarian</label>-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                        </div>
                        <!--order settings-->
                        <div class="row chef-settings-div">
                            <p class="checkout-title">Order Settings</p>
                            <!--min per order-->
                            <div class="col-xs-12 col-sm-10 col-md-7 col-lg-7 text-left form-margin">
                                <br>
                                <label><strong>Set Order Minimum</strong><span class="text-muted small"> (optional)</span></label><br>
                                <p class="text-muted small">Minimum number of meals per order for the order to be valid.</p>
                                <input type="number" class="form-control form-margin" ng-model="vm.user.min_per_order">
                            </div>
                            <!--order rule-->
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-left form-margin">
                                <br>
                                <label><strong>Create Bundle Offers</strong><span class="text-muted small"> (optional)</span></label>
                                <p class="text-muted small">Designate up to 4 options for number of meals in an order for a set price. If you use this option, customer will have to match number of meals specified for the order to be valid. <span tooltip-placement="bottom" uib-tooltip="5 meals for $60, 10 meals for $110, 15 meals for $150">(See example)</span></p>
                                <!--Bundle 1-->
                                <div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left form-margin">

                                        <input placeholder="Number of meals" type="number" class="form-control form-margin form-inline form-horizontal" ng-model="vm.user.bundle1.meals">
                                    </div>
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        for
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left form-margin">
                                        <input placeholder="$0.00" type="number" class="form-control form-margin form-inline form-horizontal" ng-model="vm.user.bundle1.price">
                                    </div>
                                </div>
                                <!--bundle 2-->
                                <div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left form-margin">

                                        <input placeholder="Number of meals" type="number" class="form-control form-margin form-inline form-horizontal" ng-model="vm.user.bundle2.meals">
                                    </div>
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        for
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left form-margin">
                                        <input placeholder="$0.00" type="number" class="form-control form-margin form-inline form-horizontal" ng-model="vm.user.bundle2.price">
                                    </div>
                                </div>
                                </div>
                                <!--bundle3-->
                                <div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left form-margin">

                                        <input placeholder="Number of meals" type="number" class="form-control form-margin form-inline form-horizontal" ng-model="vm.user.bundle3.meals">
                                    </div>
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        for
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left form-margin">
                                        <input placeholder="$0.00" type="number" class="form-control form-margin form-inline form-horizontal" ng-model="vm.user.bundle3.price">
                                    </div>
                                </div>
                                <!--bundle 4-->
                                <div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left form-margin">

                                        <input placeholder="Number of meals" type="number" class="form-control form-margin form-inline form-horizontal" ng-model="vm.user.bundle4.meals">
                                    </div>
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        for
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left form-margin">
                                        <input placeholder="$0.00" type="number" class="form-control form-margin form-inline form-horizontal" ng-model="vm.user.bundle4.price">
                                    </div>
                                </div>
                            </div>
                            <!--delivery-->
                            <div class="col-xs-12 col-sm-10 col-md-7 col-lg-7 text-left form-margin">
                                <br>
                                <input type="checkbox" ng-true-value="1"
                                           ng-false-value="0" ng-model="vm.user.delivery">
                                <label><strong>Delivery</strong></label>
                                <p class="text-muted small">Do you offer delivery?</p>
                                <div class="settings-show" ng-show="vm.user.delivery == 1">
                                    <div class="row">
                                        <p>Delivery Date <i ng-if="vm.needUpdate" class="fas fa-info-circle" style="color: red;"></i></p>
                                        <p  ng-if="vm.needUpdate" class="text-muted small">One of your dates is expired. Please update settings.</p>
                                        <p class="text-muted small">Please select the date orders will be delivered.</p>
                                        <datepicker date-format="MMMM dd, yyyy">
                                            <input type="text" class="form-control form-margin" name="order_deadline" ng-model="vm.user.delivery_date">
                                        </datepicker>
                                    </div>
                                    <!--Delivery details-->
                                    <div class="row">
                                        <br>
                                        <p>Delivery Details</p>
                                        <p class="text-muted small">Include details such as when the order will be delivered so the customer knows when to be home.</p>
                                        <textarea class="form-control form-margin" name="delivery_info" ng-model="vm.user.delivery_info">
                                    </textarea>
                                    </div>
                                    <!--Delivery Fee-->
                                    <div class="row">
                                        <br><p>Delivery Fee ($)</p>
                                        <p class="text-muted small">Set a fee to charge customer when they select delivery.</p>
                                        <input placeholder="0.00" type="text" class="form-control form-margin" name="delivery_fee" ng-model="vm.user.delivery_fee">
                                    </div>
                                </div>
                            </div>
                        <!--allow pickup-->
                            <div class="col-xs-12 col-sm-10 col-md-7 col-lg-7 text-left form-margin">
                                <br>
                                <input type="checkbox" ng-true-value="1"
                                           ng-false-value="0" ng-model="vm.user.pickup">
                                <label><strong>Allow Pickup</strong></label>
                                <p class="text-muted small">Can the customer choose to pickup the order themselves?</p>
                                <div class="settings-show" ng-show="vm.user.pickup == 1">
                                        <div class="row">
                                            <!--<br>-->
                                            <p>Pickup Date <i ng-if="vm.needUpdate" class="fas fa-info-circle" style="color: red;"></i>
                                            </p>
                                            <p  ng-if="vm.needUpdate" class="text-muted small">One of your dates is expired. Please update settings.</p>
                                            <p class="text-muted small">Please select the date orders will be ready for pickup.</p>
                                            <datepicker date-format="MMMM dd, yyyy">
                                                <input type="text" class="form-margin form-control" name="pickup_date" ng-model="vm.user.pickup_date">
                                            </datepicker>
                                        </div>
                                        <!--pickup instructions-->
                                        <div class="row">
                                            <br>
                                            <p>Pickup Instructions</p>
                                            <p class="text-muted small">Include details to help the customer on the day of pickup, such as the time of the pickup window.</p>
                                            <textarea class="form-control form-margin" name="pickup_info" ng-model="vm.user.pickup_info">
                                        </textarea>
                                        </div>
                                        <!--pickup address-->
                                        <div class="row">
                                            <br><p>Pickup Address</p>
                                            <p class="text-muted small">Where should the customer meet to pickup the order?</p>
                                            <textarea maxlength="250" class="form-control form-margin" name="pickup_pickup" ng-model="vm.user.pickup_pickup">
                                        </textarea>
                                            <br>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="row chef-settings-div">
                            <p class="checkout-title">Payment Methods</p>
                            <!--min per order-->
                            <div class="col-xs-12 col-sm-10 col-md-7 col-lg-7 text-left form-margin">
                                <br>
                                <label>Pay with Card</label>
                                <p>All customers will have the option for fast and secure checkout with a credit card. This payment method results in a 3.0% + $0.30 payment processing fee from the order total.</p>
                                <br>
                                <label><strong>Additional Payment Methods</strong><span class="text-muted small"> (optional)</span></label><br>
                                <p class="text-muted">If added, customers will be given the option to pay with a card or choose to pay off-platform. If they choose to not pay by card and use one the methods listed, you are required to contact them after they have placed an order to finalize payment.</p>
                                <input type="text" placeholder="Venmo, cash, check, etc." class="form-control form-margin" ng-model="vm.user.payment_options">
                                <br>
                            </div>
                        </div>
                        <button type="submit" ng-disabled="buttonDisabled" class="btn btn-default save-info-btn">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
