 <div class="container">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
     <div ng-if="vm.meals != null">
        <p class="page-header">All Meals</p>
        <div ng-if="vm.meals[0].name">
            <button class="btn cancel-btn" ng-disabled="buttonDisabled" ng-click="submit(); vm.addToMenu()">Save</button>
            <button class="btn cancel-btn" ui-sref="profile({id: auth.data.id})">View Current Menu</button>
            <button class="btn btn-default cancel-btn" ng-click="vm.vip = !vm.vip">View VIP Link</button>
            <div class="email-form send" ng-if="vm.vip == true">
                <div class="section-header">VIP Link</div>
                <p ng-if="auth.data.stripe_user_id != null">The URL below will link to your listing. Share it on social media or through text to get the word out about your menu!<br>
                    <br>
                    <strong>www.orchideats.com/marketplace-listing/{{auth.data.id}}</strong>
                </p>
                <p ng-if="auth.data.stripe_user_id == null">Before you can share your menu, you must connect your Orchid Eats account with Stripe.<br>
                    <a ui-sref="chef-dashboard">Connect With Stripe</a>
                </p>
            </div>


            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th tooltip-placement="right-top" uib-tooltip="Checked meals will show in your current menu.">Active <i class="fas fa-info-circle"></i>
                            </th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Type</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="meal in vm.meals">
                            <td><input type="checkbox" ng-true-value="1"
                                       ng-false-value="0"
                                       ng-model="meal.current_menu" ng-change="vm.change(meal)"></td>
                            <td> {{meal.name}}</td>
                            <td> {{meal.price | currency}}</td>
                            <td> {{meal.type}}</td>
                            <td><button type="button" class="btn btn-default btn-error" ui-sref="create-meal({id: meal.meal_id})">Edit</button></td>
                            <td><button type="button" class="btn btn-default btn-danger" ng-click="vm.delete(meal)">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
         <div ng-if="!vm.meals[0].name" class="no-show">
             Oops...nothing to show here. Get the ball rolling and create your first meal <a ui-sref="create-meal({id: auth.data.first_name})"> <i class="fas fa-arrow-circle-right"></i></a>
         </div>
    </div>
 </div>