<div class="container" ng-controller="DashboardController as vm">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                    <h2>Dashboard</h2>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                    <button class="btn btn-default btn-outline"
                            type="button"><a ui-sref="update-menu">Update Menu</a></button>
                </div>
            </div>

            <div class="row button text-center" ng-if="auth.data.stripe_user_id === null">
                <a class="button-click" ng-click="authorize()">Connect your Orchid account to Stripe to collect payments  <i class="ion ion-arrow-right-c"></i></a>
                <p>We use Stripe to make sure you get paid on time and keep your personal and bank details secure.</p>
            </div>

            <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-3 col-lg-3">
                    <h4> {{auth.data.first_name}} </h4>
                    <div class="col-xs-8 col-sm-9 col-md-8 col-lg-8 text-left">
                        <a ui-sref="profile({id: vm.data.chef_id})">
                            {{vm.data.ratingAvg}}</a> <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <!--TODO fix this link with stripe-->
                    <a href="#">Go to your stripe page.</a>
                </div>
            </div>
            <div class="row section-content">
                <a ui-sref="user-orders"><h4 class="page-header">Summary</h4></a>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 col-md-3 col-lg-3 text-left">
                            <p>Overall Rating</p>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-3 col-lg-3 text-right">
                            <p>{{vm.data.ratingAvg}}</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-md-3 col-lg-3 text-left">
                        <p>Total Yearly Revenue</p>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-3 col-lg-3 text-right">
                        <p>$ {{vm.data.yearlyRevenueTotal}}</p>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 col-md-3 col-lg-3 text-left">
                            <p>Total Revenue</p>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-3 col-lg-3 text-right">
                            <p>$ {{vm.data.revenueTotal}}</p>
                        </div>
                        <!--<div class="col-sm-1"></div>-->
                        <div class="col-xs-6 col-sm-5 col-md-3 col-lg-3 text-left">
                            <p>Total Reviews</p>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-3 col-lg-3 text-right">
                            <p>{{vm.data.reviewsTotal}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6"></div>
                        <div class="col-xs-6 col-sm-5 col-md-3 col-lg-3 text-left">
                            <p>Total Orders</p>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-3 col-lg-3 text-right">
                            <p>{{vm.data.ordersTotal}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
