<div class="container">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div class="row">
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <h3 class="page-header">Orders</h3>

            <!--Add JS to change the content of this section-->
            <div class="section-content">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 listing-face-image">
                        <img alt="user-photo">
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-5 col-lg-5 text-left">
                        <p class="section-content-override">Stacy</p>
                        <p>5.0 stars</p>
                    </div>
                    <!--This will change if is to delivered or has been delivered already-->
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                        <p class="date">Due Sep. 30th</p>
                        <p>Delivery</p>
                    </div>
                </div>
                <hr width="85%" color="grey" align="right">
                <div class="row">
                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 text-right">
                        <p>Order Total: $122</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-lg-1"></div>
    </div>
</div>
