<div class="container">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="vm.data != null">
            <!--<div class="row">-->
                <!--<h2>Dashboard</h2>-->
            <!--</div>-->

            <div class="row">
                <!--Payments-->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <p class="page-header">Payments</p>
                    <!--stripe-->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div ng-if="!auth.data.stripe_user_id">
                            <p ng-disabled="buttonDisabled" class="stripe-connect-title">Connect your Orchid Eats account with Stripe</p>
                            <p class="stripe-connect-text">We use <a href="https://stripe.com/connect">Stripe</a> to make sure you get paid on time and keep your personal and bank details secure.</p>
                            <a ng-disabled="buttonDisabled" class="text-center" ng-click="submit(); vm.authorize()"><img class="stripe-connect" src="https://s3-us-west-1.amazonaws.com/orchideats.com/stripe-connect.png"></a>
                        </div>
                        <div class="stripe-connect" ng-if="auth.data.stripe_user_id">
                            <p>Go to your Stripe account</p>
                            <a href="https://connect.stripe.com/login"><img src="https://s3-us-west-1.amazonaws.com/orchideats.com/powered_by_stripe.png"></a>
                        </div>
                    </div>
                </div>
                <!--chef account settings-->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <p class="page-header">Order Settings</p>
                        <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7 text-left">
                            <h5>Order Deadline</h5>
                            <h5>Food Handlers Card</h5>
                            <h5>Incomplete Orders</h5>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                            <!--this shows if order deadline is expired-->
                            <h5 ng-if="vm.data.order_deadline <= vm.date" class="settings-update"><a ui-sref="chef-settings({id: auth.data.id})">Update</a></h5>
                            <!--this shows if order deadline is not expired-->
                            <h5 ng-if="vm.data.order_deadline >= vm.date" ><a ui-sref="chef-menu-orderreqs({id: auth.data.id})">{{vm.data.order_deadline | date}}</a></h5>
                            <!--shows if food handler exists-->
                            <h5 ng-if="vm.data.food_handler != null"><a ui-sref="chef-settings({id: auth.data.id})">{{vm.data.food_handler}}</a></h5>
                            <!--shows if no food handler card-->
                            <h5 ng-if="vm.data.food_handler == null" class="settings-update"><a ui-sref="chef-settings({id: auth.data.id})">Incomplete</a></h5>

                            <h5><a ui-sref="current-orders">{{vm.data.current_orders}}</a></h5>
                        </div>
                </div>
            </div>

            <!--summary-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="page-header">Orchid Eats Summary</p>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                        <div class="row">
                            <div class="col-xs-6 col-sm-5 col-md-3 col-lg-3 text-left">
                                <h5>Overall Rating</h5>
                                <h5>Total Yearly Revenue</h5>
                                <h5>Total Revenue</h5>
                                <h5 class="visible-xs visible-sm">Total Orders</h5>
                                <h5 class="visible-xs visible-sm">Total Reviews</h5>
                            </div>
                            <div class="col-xs-5 col-sm-5 col-md-3 col-lg-3 text-right">
                                <h5><a ui-sref="profile-reviews({id:auth.data.id})">{{vm.data.ratingAvg | number: 2}}</a></h5>
                                <h5>{{vm.data.yearlyRevenueTotal | currency}}</h5>
                                <h5>{{vm.data.revenueTotal | currency}}</h5>
                                <h5 class="visible-xs visible-sm"><a ui-sref="current-orders({id:auth.data.id})">{{vm.data.ordersTotal}}</a></h5>
                                <h5 class="visible-xs visible-sm"><a ui-sref="profile-reviews({id:auth.data.id})">{{vm.data.reviewsTotal}}</a></h5>
                            </div>
                            <div class="col-xs-6 col-sm-5 col-md-3 col-lg-3 text-left">
                                <h5 class="hidden-xs hidden-sm">Total Orders</h5>
                                <h5 class="hidden-xs hidden-sm">Total Reviews</h5>
                            </div>
                            <div class="col-xs-5 col-sm-5 col-md-3 col-lg-3 text-right">
                                <h5 class="hidden-xs hidden-sm"><a ui-sref="current-orders({id:auth.data.id})">{{vm.data.ordersTotal}}</a></h5>
                                <h5 class="hidden-xs hidden-sm"><a ui-sref="profile-reviews({id:auth.data.id})">{{vm.data.reviewsTotal}}</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--feedback-->
            <div class="row section-content" ng-if="vm.data.feedback[0].chef_feedback">
                <a ui-sref="customer-feedback"><p class="page-header">Customer Feedback</p></a>
                <div class="row">
                    <div class="section-content" ng-repeat="feedback in vm.data.feedback | limitTo: 3">
                        <div>
                            <p>{{feedback.chef_feedback}}</p>
                        </div>
                        <div>
                            <h5>Order #: {{feedback.ratings_order_id}}</h5>
                            <h5>Submitted on {{feedback.created_at}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
