<div class="container">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div class="row">
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <h3 class="page-header">Order Requirements</h3>
            <div class="row section-content">
                <form>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label for="min-order">Minimum Order</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <input type="password" class="form-control form-margin" id="min-order" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label for="delivery">Delivery Fee</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <input type="password" class="form-control form-margin" id="delivery" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label for="order-limit">Order Limit</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <input type="password" class="form-control form-margin" id="order-limit" required>
                            </div>
                        </div>
                    </div>
                </form>
                <button type="submit" class="btn btn-default save-info-btn">Save</button>
            </div>
        </div>
        <div class="col-md-1 col-lg-1"></div>
    </div>
</div>
