<div>
    <section id="main-section">
        <div class="jumbotron cooking-jumbotron">
            <div class="container text-center">
                <h2 class="main-h2">Build Your Business</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xs-offset-0 col-sm-offset-1 col-lg-offset-3 col-md-offset-2">
                        <h4 class="main-h4">Nourish your friends and neighbors while you grow your personal food brand and your income.</h4>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a href="https://form.jotform.com/72605256985163">
                            <button type="submit" class="btn btn-default call-to-action-btn">Apply to Cook</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Update the icons and alt information-->
    <section id="section-2">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-sm-12 col-md-10 col-lg-10 section-2-block">
                    <h3 class="section-title"><strong>How it Works?</strong></h3>
                    <hr class="section-line" style="text-align:center; margin: 0 auto;">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 col-xs-offset-2 col-md-offset-0 col-sm-offset-2 col-lg-offset-0">
                            <img class="hiw img-circle center-block" src="http://d38g3k8bh7doeb.cloudfront.net/chefHIW-1.png"
                                 alt="Get Approved">
                            <h4><b>Become an approved chef</b></h4>
                            <p>We'll help you prepare yourself and your kitchen to build your food business.</p>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 col-xs-offset-2 col-md-offset-0 col-sm-offset-2 col-lg-offset-0">
                            <img class="hiw img-circle center-block" src="http://d38g3k8bh7doeb.cloudfront.net/chefHIW-2.png"
                                 alt="Set Your Menu">
                            <h4><b>Create your menu</b></h4>
                            <p>You have complete creative control over what foods to make, the price, and when to cook.</p>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 col-xs-offset-2 col-md-offset-0 col-sm-offset-2 col-lg-offset-0">
                            <img class="hiw img-circle center-block" src="http://d38g3k8bh7doeb.cloudfront.net/chefHIW-3.png"
                                 alt="Cook the food">
                            <h4><b>Feed your neighbors</b></h4>
                            <p>Serve homemade food to-go from your kitchen and we'll take care of delivery.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-md-2 col-lg-2"></div>
            </div>
        </div>
    </section>

    <section class="meet-chefs">
        <div class="container">
            <div class="row text-left">
                <h3 class="section-title"><strong>Our Chef Community</strong></h3>
                <hr class="section-line"/>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <img src="http://d38g3k8bh7doeb.cloudfront.net/female2.png"
                         class="img-responsive thumbnail"
                         alt="tools and resources">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                    <blockquote class="hidden-xs">This company came at the perfect time. I launched my meal prep service this year. Trying to cook, market and promote, deliver meals and prep new menus can be a lot in the beginning. While I'm fortunate to have clients, it can still be time consuming and/or difficult to do all of the other task that go along with running a meal prep biz. To know there is a company who supports local chefs and local consumers is refreshing. Orchid Eats lightens the load for all parties involved in meal prep. Now I can focus on my menu and being in the kitchen while a well qualified team connects the others dots and provides the support I need in order to see my business grow. In just a few weeks I have more time to create great menus and strategize for my next step in business." - Charity</blockquote>
                    <p class="visible-xs">This company came at the perfect time. I launched my meal prep service this year. Trying to cook, market and promote, deliver meals and prep new menus can be a lot in the beginning. While I'm fortunate to have clients, it can still be time consuming and/or difficult to do all of the other task that go along with running a meal prep biz. To know there is a company who supports local chefs and local consumers is refreshing. Orchid Eats lightens the load for all parties involved in meal prep. Now I can focus on my menu and being in the kitchen while a well qualified team connects the others dots and provides the support I need in order to see my business grow. In just a few weeks I have more time to create great menus and strategize for my next step in business." - Charity</p>
                </div>
            </div>
        </div>
    </section>

    <section id="section-3">
        <div class="container">
            <div class="row text-left">
                <h3 class="section-title"><strong>We Believe in You</strong></h3>
                <hr class="section-line"/>
                <p>We're here to help you every step of the way</p>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <img src="http://d38g3k8bh7doeb.cloudfront.net/toolsicon.png"
                         class="img-responsive desc-thumbnail"
                         alt="tools and resources">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <h4 class="text-left section-header">Tools and Resources</h4>
                    <p class="text-left">We empower you with all the management and promotional tools you'll need to build a thriving food business. We make it easy to get the word out, manage orders, gain new clients, and receive payments.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <img src="http://d38g3k8bh7doeb.cloudfront.net/trainingicon.png"
                         class="img-responsive desc-thumbnail"
                         alt="training and education">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <h4 class="text-left section-header">Training and Education</h4>
                    <p class="text-left">Our education base offers cooks regular newsletters, skill-shares, and workshops to help you continue to hone your craft.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <img src="http://d38g3k8bh7doeb.cloudfront.net/communityicon.png"
                         class="img-responsive desc-thumbnail"
                         alt="community support">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <h4 class="text-left section-header">Community Support</h4>
                    <p class="text-left">Join our Chef Community. Share your passion, knowledge, and food both online and offline with your fellow chefs as you build valuable professional and personal relationships.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="section-4" class="faqs">
        <div class="container text-left">
            <div class="row">
                <h3 class="section-title"><strong>Frequently Asked Questions</strong></h3>
                <hr class="section-line"/>
                <p class="section-text">Have more questions?<a ui-sref="faqs"> Read the full FAQ <i class="fas fa-arrow-circle-right"></i></a></p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                    <h4>How often do I have to cook?</h4>
                    <p class="section-text">It's your business, so up to you! Our team will work with you to figure out how to best maximize you time and effort. Our most sucessful chefs provide a weeklu menu with order deadlins.</p>
                </div>
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 hidden-xs">
                    <h4>What can I make?</h4>
                    <p class="section-text">You have ful creative freedom, so make what you love! Most chefs switch up their menu every week, while others go with a few signature dishes. We want you to experiment and own it!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                    <h4>Does it cost anything to be a chef on Orchid Eats?</h4>
                    <p class="section-text">There's no cost to set up a chef account or post meals. For each order you complete, simply pay the payment processing fee and you keep the rest.</p>
                </div>
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 hidden-xs">
                    <h4>How and when do I get paid?</h4>
                    <p class="section-text">We use <a href="https://stripe.com/">Stripe</a> as our payment processor. Payouts are received 2 days after the order is completed.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="section-5">
        <div class="container text-left">
            <div class="row">
                <h3 class="section-title"><strong>So, What Will You Make?</strong></h3>
                <hr class="section-line">
                <h4>Join our loving community of chefs and their neighbors.</h4>
                <div class="text-center">
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                        <a href="https://form.jotform.com/72605256985163">
                            <button type="submit" class="btn btn-default call-to-action-btn">Apply to Cook</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Think about adding an image in here about current chefs-->
    </section>
</div>
