<div>
    <section id="main-section">
        <div class="jumbotron cooking-jumbotron">
            <div class="row text-center">
                <h2 class="main-h2">Feed your community</h2>
                <div class="row">
                    <div class="col-xs-10 col-sm-8 col-md-8 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-lg-offset-3 col-md-offset-2">
                        <h4 class="main-h4">Nourish your friends and neighbors while you build your personal food business and grow your income.</h4>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a href="https://form.jotform.com/72605256985163">
                        <button type="submit" class="btn btn-default call-to-action-btn">Apply to Cook</button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!--Update the icons and alt information-->
    <section id="section-2">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-sm-12 col-md-10 col-lg-10 section-2-block">
                    <h3 class="section-title"><strong>How it Works?</strong></h3>
                    <hr class="section-line" style="text-align:center; margin: 0 auto;">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 col-xs-offset-2 col-md-offset-0 col-sm-offset-2 col-lg-offset-0">
                            <img class="hiw img-circle center-block" src="./images/chefHIW-1.png"
                                 alt="Get Approved">
                            <h4><b>Become an approved chef</b></h4>
                            <p>We'll help you prepare yourself and your kitchen to build your food business.</p>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 col-xs-offset-2 col-md-offset-0 col-sm-offset-2 col-lg-offset-0">
                            <img class="hiw img-circle center-block" src="./images/chefHIW-2.png"
                                 alt="Set Your Menu">
                            <h4><b>Create your menu</b></h4>
                            <p>You have complete creative control over what foods to make, the price, date, and
                                order time</p>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 col-xs-offset-2 col-md-offset-0 col-sm-offset-2 col-lg-offset-0">
                            <img class="hiw img-circle center-block" src="./images/chefHIW-3.png"
                                 alt="Cook the food">
                            <h4><b>Feed your neighbors</b></h4>
                            <p>Serve homemade food to-go from your kitchen and we'll handle delivery</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-md-2 col-lg-2"></div>
            </div>
        </div>
    </section>

    <section id="section-3">
        <div class="container">
            <div class="row text-left">
                <h3 class="section-title-override"><strong>We Believe in You</strong></h3>
                <hr class="section-line"/>
                <p>We're here to help you every step of the way</p>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <img src="./images/toolsicon.png"
                         class="img-responsive desc-thumbnail center-block"
                         alt="tools and resources">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    <h4 class="text-left section-header">Tools and Resources</h4>
                    <p class="text-left">We empower you with all the management and promotional tools you need to
                        build a thriving food business. We make it easy to get the word out, manage orders, gain new clients, and receive payments.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <img src="./images/trainingicon.png"
                         class="img-responsive desc-thumbnail center-block"
                         alt="training and education">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    <h4 class="text-left section-header">Training and Education</h4>
                    <p class="text-left">Our education base offers cooks regular newsletters, skill-shares, and workshops help you continue to hone your craft.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <img src="./images/communityicon.png"
                         class="img-responsive desc-thumbnail center-block"
                         alt="community support">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    <h4 class="text-left section-header">Community Support</h4>
                    <p class="text-left">Join our chef community. Share your passion, knowledge, and food both online and offline with your fellow chefs as you build valuable professional and personal relationships.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="section-4" class="faqs">
        <div class="container text-left">
            <div class="row">
                <h3 class="section-title-override"><strong>Frequently Asked Questions</strong></h3>
                <hr class="section-line"/>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                    <h4>How often do I have to cook?</h4>
                    <p class="section-content-override">It's your business, so up to you!</p>
                </div>
                <div class="col-sm-1 col-md-2 col-lg-2"></div>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                    <h4>What can I make?</h4>
                    <p class="section-content-override">Up to you!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                    <h4>How often do I have to cook?</h4>
                    <p class="section-content-override">It's your business, so up to you!</p>
                </div>
                <div class="col-sm-1 col-md-2 col-lg-2"></div>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                    <h4>What can I make?</h4>
                    <p class="section-content-override">Up to you!</p>
                </div>
            </div>
            <div class="row">
                <div class="text-right col-xs-6 col-sm-6 col-md-9 col-lg-9"></div>
                <div class="text-right col-xs-5 col-sm-5 col-md-2 col-lg-2">
                    <a ui-sref="faqs">
                        <button type="button" class="btn btn-default call-to-action-btn">Read the full FAQ
                            <i class="ion ion-arrow-right-c"></i></button>
                    </a>
                </div>
                <div class="text-right col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            </div>
        </div>
    </section>

    <section id="section-5">
        <div class="container text-left">
            <div class="row">
                <h3 class="section-title-override"><strong>So, What Will You Make?</strong></h3>
                <hr class="section-line">
                <h4>Join our loving community of chefs and their neighbors.</h4>
                <div class="text-center">
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                        <a href="https://form.jotform.com/72605256985163">
                            <button type="submit" class="btn btn-default call-to-action-btn">Apply to Cook</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Think about adding an image in here about current chefs-->
    </section>
</div>
