<div class="container">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div class="row">
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 text-left">
            <h3 class="page-header">Create New Meal</h3>
            <div class="row">
                <form method="post" name="addMealForm" ng-submit="submit(); vm.create(addMealForm)" ng-validate="vm.validation">
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Meal name</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <input type="text" class="form-control form-margin" name="meal_name"
                                       ng-model="vm.meal.name"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Meal type</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <select class="form-control form-margin" name="meal_type" ng-model="vm.meal.type">
                                    <option>Breakfast</option>
                                    <option>Lunch/Dinner</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Description</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <textarea maxlength="300" cols="50" rows="2" class="form-control form-margin" ng-model="vm.meal.description"
                                          name="description"
                                          required>
                                </textarea>
                                <p class="text-muted small">Details to further the eating experience, including any changes that can be made to meal.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Price per meal ($)</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <input type="number" class="form-control form-margin" ng-model="vm.meal.price" name="price"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Upload Image</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <input class="bottom-marg-15" type="file" name="file" file></input>
                                        <!-- Progress Bar -->
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
                                                {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-if="vm.meal.photo">
                                    <div class="col-xs-8 col-sm-5 col-md-4 col-lg-3 profile-image text-center" ng-style="{'background-image': 'url('+ vm.meal.photo +')'}">
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="buttonDisabled" class="btn btn-default save-info-btn">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>