<div class="container">
    <div ng-if="vm.incompleteOrder != null">
        <div class="row">
            <div ui-view="miniNav"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="page-header">Current Orders <span tooltip-placement="bottom-left" uib-tooltip="For help, please contact param@orchideats.com"><i class="fas fa-info-circle fa-xs"></i></span></p>
                <div ng-if="vm.incompleteOrder != null">
                    <div class="section-content" ng-repeat="order in vm.incompleteOrder">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 listing-face-image" ng-style="{'background-image': 'url('+ order.buyer.photo +')'}">
                            </div>
                            <div class="text-right">
                                <p class="date">{{order.order_details.method}}: {{order.order_details.date}}</p>
                                <p class="order"><strong>Order Total: {{order.order_total | currency}}</strong></p>
                                <!--<p><button class="btn send-message" ng-click="vm.sendMessage(order.user.id)">Send Message</button></p>-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="checkout-summary-item">
                                <p class="text-left">{{order.customer_details.name}}</p>
                                <p class="text-right">
                                    Payment Method: {{order.payment_method}}
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div>
                                    <br>
                                    <label>Customer Details</label>
                                    <div class="checkout-summary-item details customer">
                                        <div class="item-name text-left">
                                            <p class="text-muted">Email: {{order.customer_details.email}}</p>
                                            <p class="text-muted">Phone: {{order.customer_details.phone}}</p>
                                            <p class="text-muted" ng-if="order.order_details.method == 'Delivery'">Address: {{order.customer_details.address}}</p>
                                        </div>
                                    </div>
                                    <div class="checkout-summary-item details customer instructions">
                                        <div class="item-name">
                                            <p><strong>Instructions</strong></p>
                                            <p>{{order.customer_details.instructions}}</p>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label>Order Summary</label>
                                <div ng-repeat="meal in order.meal_details">
                                    <div class="checkout-summary-item">
                                        <div class="item-name text-left">
                                            <p><strong>{{meal.name}}</strong></p>
                                            <p><span class="item-name text-muted">Quantity: </span>{{meal.quantity}}</p>
                                            <p ng-if="meal.request != null"><i class="fas fa-exclamation-circle" style="color: red"></i> <span class="text-muted">Request: </span>{{meal.request}}</p>

                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="row confirm-complete text-center">
                            <a href ng-click="order.mark = !order.mark">
                                <p>Mark as Complete</p>
                            </a>
                        </div>
                        <div class="row">
                            <div class="confirm-form" ng-if="order.mark == true">
                                <div class="section-header">Confirm</div>
                                <p>Please make sure the order has been delivered to or picked-up by the customer before submitting the change. The customer will recieve a confirmation email.</p>
                                <button class="btn btn-danger" ng-click="order.mark = !order.mark">Cancel</button>
                                <button ng-disabled="buttonDisabled" class="btn btn-default cancel-btn" ng-click="submit(); vm.completed(order)">Completed</button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!vm.incompleteOrder[0]" class="no-show">
                        Phew - you've completed all your orders. High five! <i class="far fa-hand-paper" data-fa-transform="grow-4"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
