<div class="container">
    <div ng-if="vm.data != null">
        <div class="row">
            <div ui-view="miniNav"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="page-header">Customer Feedback</p>
                <div ng-if="vm.data.feedback[0].chef_feedback">
                    <div class="section-content" ng-repeat="feedback in vm.data.feedback">
                        <p>{{feedback.chef_feedback}} <br> <br></p>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                            <p>Order #: {{feedback.ratings_order_id}}</p>
                        </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                            <p>Submitted on {{feedback.created_at | date}}</p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="no-show" ng-if="!vm.data.feedback[0].chef_feedback">
                    Hmm...there's nothing to see here.
                </div>
            </div>
        </div>
    </div>
</div>