<div class="container">
    <div ng-if="vm.user != null">
        <div class="row">
            <div ui-view="miniNav"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
                <p class="page-header">Edit Profile</p>
                <div>
                    <form method="post" name="editProfileForm" ng-submit="submit(); vm.update(editProfileForm)" ng-validate="vm.validation">
                        <!--Transfer name and email in from signup form-->
                        <div class="form-group section-form-group form-inline">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                    <label>First name</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                    <input type="text" class="form-control form-margin" name="first_name" required
                                           ng-model="vm.user.first_name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group section-form-group form-inline">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                    <label>Last name</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                    <input type="text" class="form-control form-margin" name="last_name" required
                                           ng-model="vm.user.last_name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group section-form-group form-inline">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                    <label>Email</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                    <input type="text" class="form-control form-margin" required
                                           ng-model="vm.user.email" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group section-form-group form-inline">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                    <label>Gender</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                    <select class="form-control form-margin" name="gender" ng-model="vm.user.gender">
                                        <option value="" selected disabled hidden>Choose here</option>                                                                 <option>female</option>
                                        <option>male</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group section-form-group form-inline">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                    <label>Birth date</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                    <datepicker date-format="MMMM dd, yyyy">
                                        <input type="text" class="form-control form-margin" name="dob" required ng-model="vm.user.dob">
                                    </datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="form-group section-form-group form-inline">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                    <label>Phone number</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                    <input type="text" class="form-control form-margin" name="phone" required ng-model="vm.user.phone">
                                </div>
                            </div>
                        </div>
                        <div class="form-group section-form-group form-inline">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                    <label>Address</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                    <input type="text" class="form-control form-margin" name="address" required
                                           ng-model="vm.user.address">
                                </div>
                            </div>
                        </div>
                        <div class="form-group section-form-group form-inline">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                    <label>Zip code</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                    <input type="text" class="form-control form-margin" name="zip" required
                                           ng-model="vm.user.zip">
                                </div>
                            </div>
                        </div>
                        <div class="form-group section-form-group form-inline">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                    <label>Describe yourself</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <textarea name="bio" cols="45" rows="5" class="form-control form-margin" required
                                          ng-model="vm.user.bio"></textarea>
                                    <br/>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-default save-info-btn" >Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>