<div class="container" data-ng-controller="EditProfileController as E">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div class="row">
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 text-left">
            <h3 class="page-header">Edit Profile</h3>
            <div class="row section-content">
                <form method="post" name="editProfileForm" ng-submit="update()">
                    <!--Transfer name and email in from signup form-->
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>First name</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <input type="text" class="form-control form-margin" name="first_name" required
                                       ng-model="E.user.first_name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Last name</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <input type="text" class="form-control form-margin" name="last_name" required
                                       ng-model="E.user.last_name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Email</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <input type="text" class="form-control form-margin" required
                                       ng-model="E.user.email" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Gender</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <select class="form-control form-margin" name="gender" ng-model="E.user.gender">
                                    <option value="" selected disabled hidden>Choose here</option>                                                                 <option>female</option>
                                    <option>male</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Birth date</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <input type="text" class="form-control form-margin" name="dob" required ng-value="E.user.dob | date: MM-dd-yyyy">
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Phone number</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <input type="text" class="form-control form-margin" name="phone" required ng-model="E.user.phone">
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Address</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <input type="text" class="form-control form-margin" name="address" required
                                       ng-model="E.user.address">
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Zip code</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <input type="text" class="form-control form-margin" name="zip" required
                                       ng-model="E.user.zip">
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Describe yourself</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <textarea name="bio" cols="50" rows="5" class="form-control form-margin" required
                                          ng-model="E.user.bio"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default save-info-btn">Save</button>
                </form>
            </div>
        </div>
        <div class="col-md-1 col-lg-1"></div>
    </div>
</div>
