<div>
    <section id="main-section">
        <!--How to add  the right size for the image due to mobile friendly?-->
        <div class="jumbotron landing-jumbotron">
            <div class="row text-center">
                <h2 class="main-h2">Meals from locals, not restaurants.</h2>
                <h3 class="main-h4">Delivered to your door.</h3>
                <div class="col-sm-12 col-md-12">
                    <button type="button" class="btn btn-default call-to-action-btn">Get Started</button>
                </div>
            </div>
        </div>
    </section>

    <section id="section-2">
        <div class="container text-center">
            <div class="col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 section-2-block">
                <h3 class="section-title-override"><strong>How it Works?</strong></h3>
                <hr class="section-line" style="text-align:center; margin: 0 auto;">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img class="icon center-block" src="./assets/images/search-icon.png" alt="Search">
                        <p><b>Order.</b></p>
                        <p>Find meals that fit your tastes, location, and nutritional goals.</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img class="icon center-block" src="./assets/images/delivery-icon.png" alt="Order">
                        <p><b>Wait for Delivery.</b></p>
                        <p>Sit back and relax as your homemade meals get delivered to your doorstep.</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img class="icon center-block" src="./assets/images/eat-icon.png" alt="Eat!">
                        <p><b>Enjoy!</b></p>
                        <p>Eat delicious, homemade meals without ever stepping foot in the kitchen.</p>
                    </div>
                </div>
                <div class="row">
                    <a ui-sref="faqs"><button class="btn-default btn call-to-action-btn">Frequently Asked Questions</button></a>
                </div>
            </div>
            <div class="col-md-1 col-lg-1"></div>
        </div>
    </section>

    <section id="section-3">
        <div class="container">
            <div class="row text-left">
                <h3 class="section-title-override"><strong>Spend Less Time in the Kitchen</strong></h3>
                <hr class="section-line"/>
            </div>
            <div class="row">
                <div class="jumbotron jumbotron-small jumbotron-small-landing">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 text-left">
                            <h2 class="section-3-head"><strong>Let Someone Else Do The Work</strong></h2>
                            <hr style="margin:0 auto 1.618em 0; width:25%; background-color: white; text-align:
                                left;
                                height: 2px;">
                            <p class="section-3-text">Getting a homemade meal on the table is hard. Now, your neighborhood cooks are here to help do the hard part so you have more free time to spend on what matters most to you. It's like having your own
                                personal chef.</p>
                            <h2 class="section-3-head"><strong>Simplify Your Schedule</strong></h2>
                            <hr style="margin:0 auto 1.618em 0; width:25%; background-color: white; text-align:
                                left;
                                height: 2px;">
                            <p class="section-3-text">Our Chefs make your life simple...and delicious. With weekly updated menus, you get to enjoy eating unique flavors. No more waiting in line, no subscriptions, and no more dirty pots and pans.</p>
                            <h2 class="section-3-head"><strong>Eat Healthy</strong></h2>
                            <hr style="margin:0 auto 1.618em 0; width:25%; background-color: white; text-align:
                                left;
                                height: 2px;">
                            <p class="section-3-text">With school, work, family, etc. all on your daily schedule, it's easy to settle for unhealthy fast food. Now, you don't have to.</p>
                            <a href="faqs"><button class="btn-default btn call-to-action-btn">Join Our Community</button></a>
                        </div>
                        <div class="col-md-7 col-lg-7"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-4">
        <div class="container text-center">
            <h3 class="section-title-override text-left"><strong>We Believe in the Chefs</strong></h3>
            <hr class="section-line"/>
            <div class="row">
                <div class="col-md-2 col-lg-2">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div>
                        <img src="./assets/images/chef.png" class="img-responsive thumbnail">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <p class="text-justify">Orchid Eats Chefs earn a living by doing what they love: cooking and providing customers with the satisfaction to keep coming back.</p>
                    <div class="row">
                        <a ui-sref="cooking-info">
                            <button class="btn btn-default call-to-action-btn">Learn More About Cooking</button>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                </div>
            </div>
        </div>
    </section>

    <section id="section-5">
        <div class="container text-center">
            <h3 class="section-title-override text-left"><strong>What People Are Saying About Us</strong></h3>
            <hr class="section-line"/>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-7 col-lg-7">
                        <img src="./assets/images/chef.png" class="img-responsive thumbnail">
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-5 col-lg-5">
                        <p class="text-justify">Here is the review by one of our top chefs</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <img src="./assets/images/chef.png" class="img-responsive thumbnail">
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">
                        <p class="text-justify">Here is what one of our customers is saying about us!</p>
                    </div>
                </div>
                <!--Remove the last review in the sm and xs viewports to conserve screen size-->
                <div class="row hidden-xs hidden-sm">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <img src="./assets/images/chef.png" class="img-responsive thumbnail">
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">
                        <p class="text-justify">Here is what one of our customers is saying about us!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
