<div ng-repeat="listing in vm.listing | orderBy:vm.priceFilterValue | filter: vm.filterDiet">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="thumbnail" id="listing">
            <a ui-sref="marketplace-listing({id: listing.chefs_user_id})">
                <img ng-src="{{listing.galleries}}" class="listing-food-image" alt="food">
            </a>
            <div class="caption">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 listing-face-image" ng-style="{'background-image': 'url('+ listing.photo +')'}">
                        <a ui-sref="marketplace-listing({ id: listing.chefs_user_id })"></a>
                    </div>
                    <div class="checkout-summary-item">
                        <div class="text-left">
                            <a ui-sref="profile({id: listing.chefs_user_id})">
                                {{listing.first_name}} <br>
                                {{listing.rating | number: 2}}</a> <span class="far fa-star" aria-hidden="true" ng-if="listing.rating != null"></span>
                            <p>{{listing.city}}</p>
                        </div>
                        <div class="text-right" ng-if="listing.food_handler" >
                            <p style="color:dodgerblue; font-weight: 700;">
                                <span class="fa-layers fa-fw" style="color:dodgerblue">
    <i class="fas fa-certificate fa-lg"></i>
    <i class="fas fa-check fa-inverse" data-fa-transform="shrink-3.5"></i>
  </span> Certified
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
