<div ng-repeat="listing in vm.listing | orderBy:vm.priceFilterValue | filter: vm.filterDiet">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail" id="listing">
                <a ui-sref="marketplace-listing({id: listing.chefs_user_id})">
                    <img ng-src="{{listing.meal_photo}}" class="listing-food-image" alt="food">
                </a>
                <div class="caption">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 listing-face-image" ng-style="{'background-image': 'url('+ listing.photo +')'}">
                            <a ui-sref="profile({ id: listing.chefs_user_id })"></a>
                        </div>
                        <div style="display: inline;" class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                            <small style="display: inline;">Avg:</small> <h5 style="display: inline;">{{listing.price | currency}}</h5>
                            <br>
                            <a ui-sref="profile({id: listing.chefs_user_id})">{{listing.first_name}}
                                <br>{{listing.rating | number: 2}}</a> <span class="far fa-star" aria-hidden="true" ng-if="listing.rating != null"></span>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
