<div ng-controller="ListingController as vm">
    <div class="row marketplace-order">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <!--add angular/bootstrap image carousel-->
            <div>
                <div style="height: 305px">
                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <!--<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">-->
                            <img ng-src="{{slide.image}}" style="margin:auto;"  alt="" class="thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="row section-content">
                <div class="col-xs-4 col-sm-3 col-md-4 col-lg-4 text-left">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 listing-face-image" style="background-image:
                         url(public/app/images/chef.png);">
                        <img alt="chef-photo">
                    </div>
                    <p>{{vm.listing.first_name}}</p>
                        <a ui-sref="profile({id: vm.listing.chef_id})">{{vm.listing.rating}}<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></a></p>
                </div>
            </div>
            <div class="row section-content">
                <h4 class="section-header">Menu</h4>
                <div ng-repeat="meal in vm.listing.meals track by meal.meal_id">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-left">
                        {{meal.type}} {{meal.name}} {{meal.price}}
                        <br>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                        <form>
                            <button ng-click="meal.qty = meal.qty - 1" class='qtyminus' ng-disabled="meal.qty<=0">-</button>
                            <input ng-model="meal.qty" type='text' name='quantity' class='qty' style="width: 50px;" />
                            <button ng-click="meal.qty = meal.qty + 1">+</button>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row section-content">
                <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-3 col-lg-3 text-left">
                        <p>Current total</p>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-1 col-lg-1 text-right">
                        <p>$ {{total}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-3 col-lg-3 text-left">
                        <p>Delivery</p>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-1 col-lg-1 text-right">
                        <p>$$$$</p>
                    </div>
                </div>
                    <button type="button" class="btn btn-default btn-alert" ui-sref="marketplace">Cancel</button>
                <button id="customButton" type="submit" class="btn btn-default call-to-action-btn"
                            ng-click="cart()">Proceed to payment</button>
            </div>
            <div class="row section-content">
                <h4 class="section-header">Reviews for {{vm.listing.first_name}} <a ui-sref="profile({id: vm.listing.chef_id})" class="text-right"><small>({{vm.listing.reviews.length}})</small> <i class="ion-arrow-right-c"></i></a></h4>
                <div class="review">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="section-content" ng-repeat="review in vm.listing.reviews | limitTo: 3">
                            <div class="row">
                                <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 listing-face-image">
                                    <img alt="chef-photo">
                                </div>
                                <div class="col-xs-8 col-sm-9 col-md-8 col-lg-8 text-left">
                                    <span uib-rating ng-model="review.rating" read-only="true" on-leave aria-labelledby="default-rating"></span>
                                    <p>{{review.review}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <p class="col-xs-4 col-sm-3 col-md-4 col-lg-4">{{review.ratings_user_id}}</p>
                                <p class="col-xs-8 col-sm-9 col-md-8 col-lg-8 text-right">Submitted on {{review.created_at}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
