<div class="container" ng-controller="MarketController as vm">
    <nav id="mini-navbar">
            <div>
                <ul class="nav navbar-nav">
                    <li>
                        <div>
                            <!-- Simple dropdown -->
                            <!--TODO-->
                            <span uib-dropdown on-toggle="toggled(open)">
                                    <a href id="simple-dropdown" uib-dropdown-toggle>
                                    Filter By Diet<span class="glyphicon glyphicon-triangle-bottom"
                                                          aria-hidden="true"></span>
                                    </a>
                                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                        <li ng-repeat="choice in items"><a href>{{choice}}</a>
                                        </li>
                                    </ul>
                                </span>
                        </div>
                    </li>
                </ul>
            </div>
    </nav>
    <div class="row"></div>
    <div class="row" id="listing">
            <div ui-view="listing"></div>
    </div>
</div>