<div>
    <div ng-if="vm.meals != null">
        <div ng-if="vm.meals[0].name">
            <div ng-repeat="meal in vm.meals">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="thumbnail menu-listing">
                        <a ui-sref="marketplace-listing({id: vm.params})">
                            <img ng-src="{{meal.photo}}" class="listing-food-image" alt="food">
                            <div class="caption checkout-summary-item">
                                <div class="text-left">
                                    <label>{{ meal.name}}</label>
                                </div>
                                <div class="text-right">
                                    <p><strong>{{ meal.price | currency}}</strong></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="no-show" ng-if="!vm.meals[0].name">Oops...looks like the chef is out of the kitchen</div>
        <div class="no-show" ng-if="!vm.meals[0].name && auth.data.is_chef == 1">
            Update your menu and keep growing your income <a ui-sref="create-meal({id: auth.data.first_name})"> <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
