<div>
    <div class="navbar-header">
        <div ng-if="!auth">
            <a class="navbar-brand" ui-sref="landing">Orchid Eats</a>
        </div>
        <div ng-if="auth">
            <a class="navbar-brand" ui-sref="marketplace">Orchid Eats</a>
        </div>

        <!--Toggle button for small screens-->
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                ng-click="navCollapsed = !navCollapsed" >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" uib-collapse="navCollapsed">

        <ul class="nav navbar-nav visible-xs" ng-if="!auth"  ng-init="navCollapsed = false">
            <li><a ui-sref="login" ng-click="navCollapsed = !navCollapsed">Login</a></li>
            <li><a ui-sref="signup" ng-click="navCollapsed = !navCollapsed">Signup</a></li>
        </ul>

        <ul class="nav navbar-nav visible-xs" ng-if="auth"  ng-init="navCollapsed = false">
            <li><a ui-sref="profile" ng-click="navCollapsed = !navCollapsed">Profile</a></li>
            <li><a ng-click="navCollapsed = !navCollapsed; logout()" ui-sref="landing">Logout</a></li>
        </ul>

        <hr color="grey" class="visible-xs">

        <ul class="nav navbar-nav">
            <li><a ui-sref="about" ng-click="navCollapsed = !navCollapsed">About</a></li>
            <li><a ui-sref="safety" ng-click="navCollapsed = !navCollapsed">Safety</a></li>
            <li><a ui-sref="apply" ng-click="navCollapsed = !navCollapsed">
                <button class="btn btn-default cooking-action-btn" ng-click="navCollapsed = !navCollapsed">Apply to Cook</button></a></li>
        </ul>

        <ul class="nav navbar-nav pull-right hidden-xs" ng-if="!auth">
            <li><a ui-sref="login">Login</a></li>
            <li><a ui-sref="signup">Signup</a></li>
        </ul>

        <ul class="nav navbar-nav pull-right hidden-xs" ng-if="auth">
            <li><a ui-sref="profile">Profile</a></li>
            <li><a ng-click="logout()" ui-sref="landing">Logout</a></li>
        </ul>
    </div>
</div>
