<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-6 col-sm-5 col-md-3 col-lg-2">
                    <img src="./images/chef.png" alt="profile picture" class="img-thumbnail">
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                    <h2 class="section-head-override">Hey, I'm Henry</h2>
                    <p class="section-text-override">Los Angeles, Californie - Joined September 24</p>
                    <a ui-sref="edit-profile">Edit Profile</a>
                    <p>{{This is the description for my profile}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <h3 class="page-header">Reviews</h3>
                    <div class="section-content">
                        <div class="row">
                            <div class="listing-face-image col-xs-3 col-sm-3 col-md-4 col-lg-4"
                                 style="background-image:
                                url(public/app/images/chef.png);">
                                <img alt="chef-photo">
                            </div>
                            <div class="col-xs-8 col-sm-9 col-md-8 col-lg-8 text-left">
                                <p>This is your review</p>
                            </div>
                        </div>
                        <div class="row">
                            <p class="col-xs-3 col-sm-3 col-md-2 col-lg-2">Param Singh</p>
                            <div class="col-xs-8 col-sm-9 col-md-8 col-lg-8 text-left">
                                <p>This is your review date</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <h3 class="page-header">Current Menu</h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="thumbnail">
                                <img src="http://placehold.it/500x300" alt="">
                                <div class="caption">
                                    <p>Greek Chicken Salad</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="thumbnail">
                                <img src="http://placehold.it/500x300" alt="">
                                <div class="caption">
                                    <p>Greek Chicken Salad</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
