<div class="container">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="page-header">Past Orders</p>
            <div ng-if="vm.pastOrder != null">
                <div class="section-content" ng-repeat="order in vm.pastOrder">
                    <div class="row text-right" ng-if="order.reviewed != 1">
                        <a class="no-review" ui-sref="submit-review({id: order.order_id})">Leave A Review <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 listing-face-image" ng-style="{'background-image': 'url('+ order.chef_profile.photo +')'}">
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 text-right">
                            <br>
                            <p class="date">Delivered: {{order.chefs_delivery_date}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                            <a ui-sref="profile({id: order.chef_profile.profiles_user_id})"><p>{{order.chef_first_name}}</p></a>
                            <p>Email: {{order.chef_email}}</p>
                            <p>Phone: {{order.chef_profile.phone}}</p>
                        </div>
                    </div>
                    <h5>Order Details: <br></h5>
                    <div class="row" ng-repeat="meal in order.meal_details">
                        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                            <p class="text-right">{{meal.quantity}}</p>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-7 col-lg-7">
                            <p class="text-left">{{meal.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <h5 class="col-md-12 col-lg-12">Order Total: {{order.order_total | currency}}</h5>
                    </div>
                </div>
                <div ng-if="!vm.pastOrder[0]" class="no-show">
                    Feeling hungry? Let us take care of that<a ui-sref="marketplace"> <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
