 <div class="container" ng-controller="MenuController as vm">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <h1>Previous Meals</h1>
        <div>
            <button class="btn btn-default" ng-click="vm.addToMenu()">Save</button>
            <table>
                <tr>
                    <th>Meal Name</th>
                    <th>Meal Type</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>On Current Menu</th>
                    <th>Delete</th>
                </tr>
                <tr ng-repeat="meal in vm.meals">
                    <td> {{meal.name}}</td>
                    <td> {{meal.type}}</td>
                    <td> {{meal.price}}</td>
                    <td> {{meal.description}}</td>
                    <td><input type="checkbox" ng-true-value="1"
                               ng-false-value="0"
                               ng-model="meal.current_menu" ng-change="vm.change(meal)"></td>
                    <td><button type="button" class="btn btn-default btn-error" ng-click="vm.delete(meal)">Delete</button></td>
                </tr>
            </table>
        </div>
    </div>