<div class="container">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <h3 class="page-header">Past Orders</h3>
            <div ng-if="vm.pastOrder != null">
                <div class="section-content" ng-repeat="order in vm.pastOrder">
                    <div class="row text-right" ng-if="order.reviewed != 1">
                        <button class="btn btn-default btn-outline btn-small"><a ui-sref="submit-review({id: order.order_id})">Leave A Review</a></button>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 listing-face-image">
                            <img alt="chef-photo">
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 text-right">
                            <p class="date">Delivered: {{order.delivery_date}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                            <p>{{order.chef_first_name}}</p>
                            <p>Email: {{order.chef_email}}</p>
                            <p>Phone: {{order.chef_phone}}</p>
                        </div>
                    </div>
                    <div>Order Details: <br><br></div>
                    <div class="row" ng-repeat="meal in order.meal_details">
                        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                            <p class="text-right">{{meal.quantity}}</p>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-7 col-lg-7">
                            <p class="text-left">{{meal.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">Order Total: {{order.total | currency}}</div>
                    </div>
                </div>
                <div ng-if="!vm.pastOrder[0]">
                    You have no orders.
                    <a ui-sref="marketplace">Go get some food <i class="ion ion-arrow-right-c"></i></a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
