<div class="container">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div>
        <p class="page-header">Payments</p>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
            <div ng-if="!auth.data.stripe_user_id">
                <div>
                    <p class="stripe-connect-title">Connect your Orchid Eats account with Stripe</p>
                    <ul class="stripe-connect-text">
                        <li>Stripe protects your information, keeping it secure <i class="fas fa-lock fa-sm"></i>, while getting your paid quickly.</li>
                        <li><a target="_blank" href="https://stripe.com/us/customers">Thoudands of companies</a> around the world from Fortune 500 to newly-launched start-ups trust Stripe.</li>
                    </ul>
                    <a class="stripe-connect text-center" ng-click="submit(); vm.authorize()" ng-class="buttonDisabled"><img src="https://s3-us-west-1.amazonaws.com/orchideats.com/stripe-connect.png"></a>
                </div>
                <div>
                    <br>
                    <p><strong>How it works?</strong></p>
                    <ul class="text-muted">
                        <li>Click "Connect with Stripe"</li>
                        <li>Provide the necessary contact information and your preferred payout method.</li>
                        <li>Submit the form and you will be redirect to your Orchid Eats dashboard.</li>
                    </ul>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <!--if stripe is setup-->
            <div class="stripe-connect" ng-if="auth.data.stripe_user_id">
                <p>Visit your Stripe Dashboard to see a full transaction history and see past and future payouts.</p>
                <a href="#" ng-click="submit(); vm.link()" ng-class="buttonDisabled"><img class="stripe" src="https://s3-us-west-1.amazonaws.com/orchideats.com/powered_by_stripe.png"></a>
                <div>
                    <br>
                    <ul class="stripe-connect-text">
                        <li>Stripe protects your information, keeping it secure <i class="fas fa-lock fa-sm"></i>, while getting your paid quickly.</li>
                        <li><a href="https://stripe.com/us/customers" target="_blank">Thoudands of companies</a> around the world from Fortune 500 to newly-launched start-ups trust Stripe.</li>
                    </ul>
                </div>
                <div>
                    <p><strong>How it works?</strong></p>
                    <p class="text-muted">Payouts are sent out daily. It takes 2 days for transactions to be processed, after which the funds will be transferred to your debit card or bank account. You can update your account details through the Stripe Dashboard by clicking the above button.</p>
                </div>
                <div>
                    <br>
                    <p class="text-muted">For help, please contact <a href="mailto:param@orchideats.com">param@orchideats.com</a></p>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div>
                <img src="https://s3-us-west-1.amazonaws.com/orchideats.com/stripe-credit-card-logos.png" class="img-responsive stripe-img">
            </div>
        </div>
    </div>
</div>
