<div class="container">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div>
            <p class="page-header">Update Profile Photo</p>
            <div class="col-xs-8 col-sm-5 col-md-4 col-lg-3 profile-image text-center" ng-style="{'background-image': 'url('+ vm.picture +')'}">
                <br>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6">
                <p>Clear frontal face photos are an important way for chefs and clients to learn about each other. Be sure to use a photo that clearly shows your faces and doesn't include any personal or sensitive information you'd rather not have someone see.</p>
            </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input class="bottom-marg-15" type="file" name="file" file></input>
                        <!-- Progress Bar -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
                                {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
                            </div>
                        </div>
                        <button ng-disabled="buttonDisabled" class="btn save-info-btn btn-block" ng-click="submit(); upload()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>