<nav id="mini-navbar" role="navigation">
    <div>
        <button type="button" class="pull-left navbar-toggle" ng-init="navMiniCollapsed = true"
                ng-click="navMiniCollapsed = !navMiniCollapsed">
            <div><i class="fas fa-caret-down"></i> Navigation</div>
        </button>

        <div class="collapse navbar-collapse profile-nav" uib-collapse="navMiniCollapsed">
            <ul class="nav navbar-nav navbar-left">
                <li ng-if="auth.data.is_chef != 0" ui-sref-active="actived">
                    <a href ui-sref="chef-dashboard">Dashboard
                    </a>
                </li>
                <!--menu-->
                <li ng-if="auth.data.is_chef != 0" uib-dropdown ng-class="{actived: ($state.includes('chef-current-menu') || $state.includes('chef-meals') || $state.includes('create-meal'))}">
                    <a href="#" uib-dropdown-toggle id="menu-toggle">Menu <i class="fas fa-caret-down"></i></a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="menu-toggle" role="menu">
                        <!--<li ui-sref-active="actived"><a href role="menuitem" ui-sref="chef-current-menu({id: auth.data.id})" ng-click="navMiniCollapsed = !navMiniCollapsed">Current Menu</a></li>-->
                        <li ui-sref-active="actived"><a href role="menuitem" ui-sref="chef-meals({id: auth.data.id})" ng-click="navMiniCollapsed = !navMiniCollapsed">Meals</a></li>
                        <li ui-sref-active="actived"><a href role="menuitem" ui-sref="create-meal({id: auth.data.first_name})" ng-click="navMiniCollapsed = !navMiniCollapsed">Create New Meal</a></li>
                    </ul>
                </li>

                <!--customer orders-->
                <li ng-if="auth.data.is_chef == 0" ui-sref-active="actived">
                    <a href ui-sref="upcoming-orders({id: auth.data.id})" ng-click="navMiniCollapsed = !navMiniCollapsed">Upcoming Orders
                    </a>
                </li>
                <li ng-if="auth.data.is_chef == 0" ui-sref-active="actived">
                    <a href ui-sref="past-orders({id: auth.data.id})" ng-click="navMiniCollapsed = !navMiniCollapsed">Past Orders
                    </a>
                </li>
                <!--Email List-->
                <li ng-if="auth.data.is_chef == 1" ui-sref-active="actived"><a role="menuitem" ui-sref="email-list({id: auth.data.id})" href ng-click="navMiniCollapsed = !navMiniCollapsed">Client List</a></li>

                <!--Chef Orders dropdown-->
                <li ng-if="auth.data.is_chef == 1" uib-dropdown ng-class="{actived: ($state.includes('current-orders') || $state.includes('chefs-orders-history') || $state.includes('chef-settings'))}">
                    <a href uib-dropdown-toggle id="orders-toggle">Orders <i class="fas fa-caret-down"></i></a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="menu-toggle" role="menu">
                        <li ui-sref-active="actived"><a href role="menuitem" ui-sref="current-orders({id: auth.data.id})" ng-click="navMiniCollapsed = !navMiniCollapsed">Current Orders</a></li>
                        <li ui-sref-active="actived"><a href role="menuitem" ui-sref="chef-orders-history({id: auth.data.id})" ng-click="navMiniCollapsed = !navMiniCollapsed">Order History</a></li>
                        <li ng-if="auth.data.is_chef == 1" ui-sref-active="actived"><a role="menuitem" ui-sref="chef-settings({id: auth.data.id})" href ng-click="navMiniCollapsed = !navMiniCollapsed">Settings</a></li>
                    </ul>
                </li>

                <!--profile-->
                <li uib-dropdown ng-class="{actived: ($state.includes('edit-profile') || $state.includes('profile-photo-upload') || $state.includes('profile-reviews') || $state.includes('profile-reviews') || $state.includes('customer-feedback'))}">
                    <a href="#" uib-dropdown-toggle id="profile-toggle">Profile <i class="fas fa-caret-down"></i></a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="profile-toggle" role="menu">
                        <li ui-sref-active="actived"><a href role="menuitem" ui-sref="edit-profile({id: auth.data.id})" ng-click="navMiniCollapsed = !navMiniCollapsed">Edit Profile</a></li>
                        <li ui-sref-active="actived"><a href role="menuitem" ui-sref="profile-photo-upload({id: auth.data.id})" ng-click="navMiniCollapsed = !navMiniCollapsed">Profile Photo</a></li>
                        <li ng-if="auth.data.is_chef != 0" ui-sref-active="actived"><a href role="menuitem" ui-sref="profile-reviews({id: auth.data.id})" ng-click="navMiniCollapsed = !navMiniCollapsed">Reviews</a></li>
                        <li ui-sref-active="actived" ng-if="auth.data.is_chef != 0"><a role="menuitem" ui-sref="customer-feedback" href ng-click="navMiniCollapsed = !navMiniCollapsed">Customer Feedback</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="profile({id: auth.data.id})" role="menuitem" ng-click="navMiniCollapsed = !navMiniCollapsed">View Profile Page</a></li>
                    </ul>
                </li>

                <!--account-->
                <li uib-dropdown ng-class="{actived: ($state.includes('account-notifications') || $state.includes('account-password') || $state.includes('account-status') || $state.inlcudes('payment-setup'))}">
                    <a href uib-dropdown-toggle id="account-toggle">Account <i class="fas fa-caret-down"></i></a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="menu-toggle" role="menu">
                        <li ui-sref-active="actived"><a role="menuitem"  ui-sref="payment-setup" href ng-click="navMiniCollapsed = !navMiniCollapsed">Payments</a></li>
                        <li ui-sref-active="actived"><a role="menuitem"  ui-sref="account-notifications({id: auth.data.id})" href ng-click="navMiniCollapsed = !navMiniCollapsed">Notifications</a></li>
                        <li ui-sref-active="actived"><a role="menuitem" ui-sref="account-password({id: auth.data.id})" href ng-click="navMiniCollapsed = !navMiniCollapsed">Change Password</a></li>
                        <li ng-if="auth.data.is_chef != 0" ui-sref-active="actived"><a role="menuitem" ui-sref="account-status({id: auth.data.id})" href ng-click="navMiniCollapsed = !navMiniCollapsed">Status</a></li>
                    </ul>
                </li>

                <!--admin-->
                <li ng-if="auth.data.is_admin == 1" uib-dropdown ng-class="{actived: ($state.includes('admin/orders') || $state.includes('admin/users') || $state.includes('admin/deliveries') || $state.includes('webhook'))}">
                    <a href uib-dropdown-toggle id="admin-toggle">Admin <i class="fas fa-caret-down"></i></a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="menu-toggle" role="menu">
                        <li ui-sref-active="actived"><a role="menuitem"  ui-sref="admin-users" href ng-click="navMiniCollapsed = !navMiniCollapsed">Users</a></li>
                        <li ui-sref-active="actived"><a role="menuitem" ui-sref="admin-delivery" href ng-click="navMiniCollapsed = !navMiniCollapsed">Deliveries</a></li>
                        <li ui-sref-active="actived"><a role="menuitem" ui-sref="admin-orders" href ng-click="navMiniCollapsed = !navMiniCollapsed">Orders</a></li>
                        <li ui-sref-active="actived"><a role="menuitem" ui-sref="webhook" href ng-click="navMiniCollapsed = !navMiniCollapsed">Webhooks</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

