<h1>Sign up now!</h1>

<form ng-submit="register()">
    <div class="form-group">
        <label for="email">Enter Email</label>
        <input type="email" class="form-control" ng-model="data.email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" ng-model="data.username" id="username" aria-describedby="usernameHelp" placeholder="Enter username">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" ng-model="data.password" id="password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
