<div>
    <section id="main-section">
        <div class="jumbotron jumbotron-safety text-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="main-h2">Communities are built on trust.</p>
                <br>
                <a ui-sref="faqs"><button class="btn-default btn call-to-action-btn">Frequently Asked Questions</button></a>
            </div>
        </div>
    </section>

    <section id="section-2">
        <div class="section-title text-center">How we ensure a safe experience</div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>At Orchid Eats, we take trust and safety very seriously. We strive to create a memorable and positive food experience for all of our users. Your health and well being are paramount to us and we are committed to providing a safe and trusted marketplace for customers. Although chefs on our platform are ultimately responsible for food safety, they are personally vetted by the Orchid Eats team and are held to high standards.</p>
                    <p> We have created our own interview and vetting process that each chef must complete before they can offer meals on the marketplace. Orchid Eats merely provides a platform for independent chefs to offer their meals and grow their business. Accordingly, food safety
                        remains the ultimate responsibility of the chef from whom you purchase. If you have any questions or concerns, please contact us at param@orchideats.com.</p>
                </div>
            </div>
            <hr width="80%" color="#555">
        </div>
    </section>

    <section id="section-3">
        <div class="container text-left">
            <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-5 col-lg-5">
                    <p class="section-title"><strong>Chef Interviews</strong></p>
                    <p>
                        As part of our vetting process, all chefs active on the marketplace are required
                        to complete an interview with one of our Chef Support Team members. During the interview, chefs go through a multi-step vetting processes, which includes: a thorough in-home inspection,  face-to-face interview, live cooking demonstration, taste test of sample dishes, and verification of identification.
                    </p>
                </div>
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
                    <p class="section-title"><strong>Customer Reviews</strong></p>
                    <p>
                        To further increase our chefs’ accountability to their customers, Orchid Eats collects public reviews from customers after each order. Customers assess each meal on the basis of food quality, portion size, and value. Customers also have
                        the option to provide private feedback to the chef.
                    </p>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-xs-10 col-sm-10 col-md-5 col-lg-5">
                    <p class="section-title">Food Handler Certification</p>
                    <p>
                        Orchid Eats requires that all chefs active on the marketplace complete their state's Food Handler course for food safety training. Before they are allowed to post their first meal, each chef must provide proof of course completion. All food-service employees in restaurants or catering companies serving food are required to obtain a Food Handler Card.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
