<div>
    <section id="main-section">
        <div class="jumbotron jumbotron-safety">
            <div class="container text-center">
                <h2 class="main-h2">Communities are built on trust.</h2>
                <div class="row">
                    <div class="col-xs-10 col-sm-8 col-md-8 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-lg-offset-3 col-md-offset-2">
                        <h4 class="main-h4">How we ensure a safe experience</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-2">
        <div class="container">
            <div class="row">
                <p>At Orchid Eats, we take trust and safety very seriously. We strive to create a memorable and positive food experience for all of our users. Your health and well being are paramount to us and we are committed to providing a safe and trusted marketplace for customers. Although chefs on our platform are ultimately responsible for food safety, they are personally vetted by the Orchid Eats team and are held to high standards.</p>
                <p> We have created our own interview and vetting process that each chef must complete before they can offer meals on the platform. Orchid Eats merely provides a platform for independent cooks to offer their meals. Accordingly, food safety remains the ultimate responsibility of the chef from whom you purchase. If you have any questions or concerns, please contact us at hello@orchideats.com.</p>
            </div>
            <hr width="80%" color="black">
        </div>
    </section>

    <section id="section-3">
        <div class="container text-left">
            <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-5 col-lg-5">
                    <div class="row text-left">
                        <h3 class="section-title"><strong>Chef Interviews</strong></h3>
                    </div>
                    <p>
                        As part of our vetting process, all potential Orchid Eats Chefs are required to complete an interview with one of our Chef Support Team members. During the interview, chefs go through a multi-step vetting processes, which includes: a thorough in-home inspection,  face-to-face interview, live cooking demonstration, taste test of sample dishes, and verification of identification.
                    </p>
                </div>
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
                    <div class="row text-left">
                        <h3 class="section-title"><strong>Customer Reviews</strong></h3>
                    </div>
                    <p>
                        To further increase our Chefs’ accountability to their customers, Orchid Eats collects reviews from customers after each order. Customers assess each meal on the basis of food quality, portion size, and value.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-5 col-lg-5">
                    <div class="row text-left">
                        <h3 class="section-title"><strong>Food Handler Certification</strong></h3>
                    </div>
                    <p>
                        Orchid Eats requires that all of our chefs complete their state's Food Handler course for food safety training. Before they are allowed to post their first meal, each chef must provide proof of course completion. All foodservice employees in restaurants or catering companies serving food are required to obtain a Food Handler Card.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
