<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="page-header">Rate Your Order</p>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form method="post" name="reviewForm" ng-submit="submit(); vm.save(reviewForm)" ng-validate="vm.validation">
                    <div class="form-group section-form-group form-inline">
                        <div class="form-margin">
                            <label>Rating <span class="text-muted small">(required)</span></label>
                            <br>
                            <span uib-rating ng-model="vm.review.rating" max="vm.max" on-hover="vm.hoveringOver(value)" read-only="RC.isReadonly" on-leave="vm.overStar = null" aria-labelledby="default-rating" required></span>
                            <br>
                            <br>
                        </div>
                        <div class="form-margin">
                            <label>Describe Your Experience</label>
                            <p class="text-muted small">Your review will be public on the chef's profile.</p>
                                <textarea maxlength="500" name="review" ng-model="vm.review.body" cols="50" rows="5" class="form-control
                            form-margin"></textarea>
                            <br>
                            <br>
                        </div>
                        <div class="form-margin">
                                <label>Private Chef Feedback <span class="text-muted small">(optional)</span></label>
                            <br>
                                <textarea maxlength="500" name="review" ng-model="vm.review.chef_feedback" cols="50" rows="5" class="form-control
                            form-margin"></textarea>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="buttonDisabled" class="btn btn-default save-info-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
