<div class="container">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="page-header">Upcoming Orders <span tooltip-placement="bottom-left" uib-tooltip="For help, please contact param@orchideats.com"><i class="fas fa-info-circle fa-xs"></i></span></p>
            <div ng-if="vm.upcomingOrder != null">
                <div class="section-content" ng-repeat="order in vm.upcomingOrder">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 listing-face-image" ng-style="{'background-image': 'url('+ order.chef.photo +')'}">
                        </div>
                        <div class="text-right">
                            <p class="date">{{order.order_details.method}}: {{order.order_details.date}}</p>
                            <p class="order"><strong>Order Total: {{order.order_total | currency}}</strong></p>
                            <p><button class="btn send-message" ng-click="vm.sendMessage(order.chef.id)">Send Message</button></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="checkout-summary-item">
                            <a class="text-left" ui-sref="profile({id: order.chef.id})">{{order.chef.first_name}}</a>
                            <p class="text-right">
                                Payment Method: {{order.payment_method}}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div>
                                <br>
                                <label>Chef Details</label>
                                <div class="checkout-summary-item details customer">
                                    <div class="item-name text-left">
                                        <p class="text-muted">Email: {{order.chef.email}}</p>
                                        <p class="text-muted">Phone: {{order.chef.phone}}</p>
                                        <p class="text-muted" ng-if="order.order_details.method == 'Pickup'">Address: {{order.order_details.address}}</p>
                                    </div>
                                </div>
                                <div class="checkout-summary-item details customer instructions">
                                    <div class="item-name">
                                        <p><strong>Instructions</strong></p>
                                        <p>{{order.order_details.details}}</p>
                                    </div>
                                </div>
                                <br>
                                <br>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label>Order Summary</label>
                            <div ng-repeat="meal in order.meal_details">
                                <div class="checkout-summary-item">
                                    <div class="item-name text-left">
                                        <p><strong>{{meal.name}}</strong></p>
                                        <p><span class="item-name text-muted">Quantity: </span>{{meal.quantity}}</p>
                                        <p ng-if="meal.request != null">Request: <span class="text-muted small">{{meal.request}}</span></p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <div ng-if="!vm.upcomingOrder[0]" class="no-show">
                    Feeling hungry? Let us take care of that<a ui-sref="marketplace"> <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>