<div class="container">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="page-header">Upcoming Orders</p>
            <div ng-if="vm.upcomingOrder != null">
                <div class="section-content" ng-repeat="order in vm.upcomingOrder">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 listing-face-image" ng-style="{'background-image': 'url('+ order.chef_profile.photo +')'}">
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 text-right">
                        <p class="date">Delivery: {{order.chefs_delivery_date}}</p>
                        <p class="date">{{order.chefs_delivery_window}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                        <a ui-sref="profile({id: order.chef_profile.profiles_user_id})"><p>{{order.chef_first_name}}</p></a>
                        <p>Email: {{order.chef_email}}</p>
                        <p>Phone: {{order.chef_profile.phone}}</p>
                    </div>
                </div>
                <p>Order Details:<br></p>
                <div class="row" ng-repeat="meal in order.meal_details">
                    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                        <p class="text-right">{{meal.quantity}}</p>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-7 col-lg-7">
                        <p class="text-left">{{meal.name}}</p>
                    </div>
                </div>
                <div class="row">
                        <p class="col-md-12 col-lg-12">Order Total: {{order.order_total | currency}}</p>
                    </div>
                </div>
                <div ng-if="!vm.upcomingOrder[0]" class="no-show">
                    Hmm...no orders. Let's go get you some food<a ui-sref="marketplace"> <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>