<div class="container" ng-controller="MenuController as MC">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div class="row">
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 text-left">
            <h3 class="page-header">Update Menu - Add Meal</h3>
            <div class="row section-content">
                <form method="post" name="addMealForm" ng-submit="update()">
                    <!--Transfer name and email in from signup form-->
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Name</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <input type="text" class="form-control form-margin" name="meal_name"
                                       ng-model="MC.meal.name"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Meal type</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <select class="form-control form-margin" name="meal_type" ng-model="MC.meal.type">
                                    <option>Breakfast</option>
                                    <option>Lunch/Dinner</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Description</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <textarea cols="50" rows="2" class="form-control form-margin" ng-model="MC.meal.description"
                                          name="description"
                                          required>
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Price per meal</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <input type="number" class="form-control form-margin" ng-model="MC.meal.price" name="price"
                                       required>
                                <br/>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group section-form-group form-inline">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right form-margin">
                                <label>Image</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-left">
                                <input type="file" nv-file-select="" uploader="MC.uploader" filters="imageFilter"/>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th width="50%">Image</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in MC.uploader.queue">
                                        <td>
                                            <div ng-thumb="{ file: item._file, width: 100, height: 100 }"><canvas></canvas></div>
                                        </td>
                                        <td class="text-right">
                                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                        </td>
                                        <td nowrap class="text-right">
                                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                <span class="glyphicon glyphicon-upload"></span> Save
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                <span class="glyphicon glyphicon-trash"></span> Remove
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="text-right">
                <a ui-sref="past-menu">Previous Menu items <i class="ion ion-arrow-right-c"></i></a>
            </div>
        </div>
    </div>
</div>