<div class="container">
    <div class="row">
        <div ui-view="miniNav"></div>
    </div>
    <div>
        <div class="page-header">Webhooks</div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Event</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="info in vm.info">
                    <td> {{info.id}}</td>
                    <td> {{info.type}}</td>
                    <td> {{info.event}}</td>
                    <td>
                        <script type="text/ng-template">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" uib-collapse="!isOpen">
                                <div class="panel-body" style="text-align: right" ng-transclude></div>
                            </div>
                        </script>
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" heading="Data">
                                {{info.data}}
                            </div>
                        </uib-accordion>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>